div.view
	div.imagesWrap#images
		a(href='javascript:;')
			img(src='./images/banner/banner6.jpg' alt='banner image')
		a(href='javascript:;')
			img(src='./images/banner/banner1.jpg' alt='banner image')
		a(href='javascript:;')
			img(src='./images/banner/banner2.jpg' alt='banner image')
		a(href='javascript:;')
			img(src='./images/banner/banner3.jpg' alt='banner image')
		a(href='javascript:;')
			img(src='./images/banner/banner4.jpg' alt='banner image')
		a(href='javascript:;')
			img(src='./images/banner/banner5.jpg' alt='banner image')
		a(href='javascript:;')
			img(src='./images/banner/banner6.jpg' alt='banner image')
		a(href='javascript:;')
			img(src='./images/banner/banner1.jpg' alt='banner image')
	div.buttons
		span#bt1
		span#bt2
		span#bt3
		span#bt4
		span#bt5
		span#bt6