div.banner
	div.middle
		div.imagesWrap
			a(href='javascript:;')
				img(src='./images/banner/banner1.jpg' alt='banner image')
			a(href='javascript:;')
				img(src='./images/banner/banner2.jpg' alt='banner image')
			a(href='javascript:;')
				img(src='./images/banner/banner3.jpg' alt='banner image')
			a(href='javascript:;')
				img(src='./images/banner/banner4.jpg' alt='banner image')
			a(href='javascript:;')
				img(src='./images/banner/banner5.jpg' alt='banner image')
			a(href='javascript:;')
				img(src='./images/banner/banner6.jpg' alt='banner image')