div.hidenDiv
	div.personInfo
		img(src='./images/tmll-load.gif' alt='header portrait')
		div.personInfoLinks
			-var load = hasload
			if hasload
				h5 Hi，#{loadername} 欢迎来到商城！
			else
				a(href='javascript:;') 登录
				a(href='javascript:;') 注册
	div.user_profit
		a(href='javascript:;').buttonLink1 新人福利
		a(href='javascript:;').buttonLink2 PLUS会员
	div.announcement
		span.infoMore_title
			a(href='javascript:;')#slimFirst 促销
			a(href='javascript:;')#slimeSecond 公告
			a(href='javascript:;').fr 更多
		div.slimMain
			div
		ul.announSub#firstAnnounSub
			li
				a(href='javascript:;') 真情感恩季保暖套餐
			li
				a(href='javascript:;') 39元抢三星C9 PRO新品6+64G内存
			li
				a(href='javascript:;') 每日享折扣品质游
		ul.announSub#secondAnnounSub
			li
				a(href='javascript:;') 售后无忧服务上线
			li
				a(href='javascript:;') 大家电订单超期自动取消公告
			li
				a(href='javascript:;') 消费扶贫只卖原生态
	//- img#bgimg(src='./images/sprite.png')
	div.entrys
		ul
			li
				a(href='javascript:;')
					i(style='background:url(images/sprite.png);background-position:0px -87px;').telCharge_icon
					span 话费
			li
				a(href='javascript:;')
					i(style='background:url(images/sprite.png);background-position:0px -44px;').planeTicket_icon
					span 机票
			li
				a(href='javascript:;')
					i(style='background:url(images/sprite.png);background-position:0px 0px;').filmTicket_icon
					span 电影票
			li
				a(href='javascript:;')
					i(style='background:url(images/sprite.png);background-position:-88px 0px;').game_icon
					span 游戏
			li
				a(href='javascript:;')
					i(style='background:url(images/sprite.png);background-position:-88px -44px;').corporationBuy_icon
					span 企业购
			li
				a(href='javascript:;')
					i(style='background:url(images/sprite.png);background-position:0px 0px;').gasFillingCard_icon
					span 加油卡
			li
				a(href='javascript:;')
					i(style='background:url(images/sprite.png);background-position:-44px -88px;').hotel_icon
					span 酒店
			li
				a(href='javascript:;')
					i(style='background:url(images/sprite.png);background-position:0px -87px;').trainTicket_icon
					span 火车票
			li
				a(href='javascript:;')
					i(style='background:url(images/sprite.png);background-position:0px -87px;').crowdFunding_icon
					span 众筹
			li
				a(href='javascript:;')
					i(style='background:url(images/sprite.png);background-position:0px -87px;').financial_icon
					span 理财
			li
				a(href='javascript:;')
					i(style='background:url(images/sprite.png);background-position:0px -87px;').present_icon
					span 礼品卡
			li
				a(href='javascript:;')
					i(style='background:url(images/sprite.png);background-position:0px -87px;').ious_icon
					span 白条

	div.entrysContent
		span
			a(href='javascript:;') 话费
			a(href='javascript:;') 机票
			a(href='javascript:;') 电影票
			a(href='javascript:;') 游戏
		div
			span
				a(href='javascript:;') 话费充值
				a(href='javascript:;') 流量充值
				a(href='javascript:;') 套餐变更
			div 号码移动联通电信面值元￥快速充值抢五元话费流量
			div 全国快速充值号码
			div 支持部分地区移动月费138元500分钟1G流量办理变更4G套餐办理
		div
			span
				a(href='javascript:;') 国内机票 
				a(href='javascript:;') 国际/港澳台
				a(href='javascript:;') 特惠活动
			div 单程往返出发城市到达日期出发机票查询
			div 单程往返出发城市到达日期出发机票查询
			div 当季特惠机票
		div
			span
				a(href='javascript:;') 正在热映
				a(href='javascript:;') 即将上映
			div 选座购票张学友泉州演唱会
			div 立即预定
		div
			span
				a(href='javascript:;') 游戏点卡
				a(href='javascript:;') QQ
				a(href='javascript:;') 页游
			div 游戏爱奇艺会员面值元￥直冲卡密
			div 快速充值
			div 领经典创奇礼包
