div.navWrap
	div.navMain
		ul.navSubLeft
			li 
				i.glyphicon.glyphicon-list
				a(href='javacript:;') 商品分类
			li 
				i.glyphicon.glyphicon-shopping-cart
				a(href='javacript:;') 商城超市
			li 
				i.glyphicon.glyphicon-globe
				a(href='javacript:;') 商城国际
		ul.navSubRight
			li 
				a(href='javacript:;') 商城会员
			li 
				a(href='javacript:;') 品牌街
			li 
				a(href='javacript:;') 电器城
			li 
				a(href='javacript:;') 好鲜生
			li 
				a(href='javacript:;') 医药馆
			li 
				a(href='javacript:;') 营业厅
			li 
				a(href='javacript:;') 魅力惠
			li 
				a(href='javacript:;') 商城旅行
