div.navWrap
	div.navMain
		ul.navSubLeft
			li#commodityClassTitle
				i.glyphicon.glyphicon-list
				a(href='javacript:;') 商品分类
				div#navDetails
					ul.commodityClassfication
						li#firstFloor
							a(href='javascript:;') 女装 /内衣
							div.commodityDetail
								div.comDetailLinks
									div.comDetailLinkGroup
										div.comDetailLinksTitle 
											span 当季流行
											span >
										div.comDetailLinksContent
											a(href='javascript:;') 冬季新品
											a(href='javascript:;') 女装商场
											a(href='javascript:;') 同款气质
											a(href='javascript:;') 连衣裙
											a(href='javascript:;') 羽绒服中长款
											a(href='javascript:;') 毛呢
											a(href='javascript:;') 百搭休闲裤
											a(href='javascript:;') 内衣
											a(href='javascript:;') 新品内衣
											a(href='javascript:;') 商场同款
											a(href='javascript:;') 聚拢文胸
											a(href='javascript:;') 睡衣套装
											a(href='javascript:;') 情侣家居服
									div.comDetailLinkGroup
										div.comDetailLinksTitle 
											span 精选上装
											span >
										div.comDetailLinksContent
											a(href='javascript:;') 羽绒服
											a(href='javascript:;') 毛呢
											a(href='javascript:;') 外套
											a(href='javascript:;') 毛衣
											a(href='javascript:;') 针织衫
											a(href='javascript:;') 衬衫
											a(href='javascript:;') 风衣
											a(href='javascript:;') 短外套
											a(href='javascript:;') 卫衣
											a(href='javascript:;') 小西装
											a(href='javascript:;') 连衣裙
											a(href='javascript:;') 蕾丝连衣裙
											a(href='javascript:;') 印花连衣裙
											a(href='javascript:;') 真丝连衣裙
											a(href='javascript:;') 半身裙
											a(href='javascript:;') 百褶裙
											a(href='javascript:;') 牛仔裙
											a(href='javascript:;') 背心裙
											a(href='javascript:;') a字裙
											a(href='javascript:;') 棉麻连衣裙
											a(href='javascript:;') 蕾丝半身裙
											a(href='javascript:;') 包臀裙
									div.comDetailLinkGroup
										div.comDetailLinksTitle 
											span 浪漫裙装
											span >
										div.comDetailLinksContent		
											a(href='javascript:;') 牛仔裤
											a(href='javascript:;') 休闲裤
											a(href='javascript:;') 哈伦裤
											a(href='javascript:;') 背带裤
											a(href='javascript:;') 小脚裤
											a(href='javascript:;') 西装裤
											a(href='javascript:;') 打底裤
											a(href='javascript:;') 阔腿裤
											a(href='javascript:;') 短裤
									div.comDetailLinkGroup
										div.comDetailLinksTitle 
											span 女士下装
											span >
										div.comDetailLinksContent
											a(href='javascript:;') 时尚气质套装
											a(href='javascript:;') 休闲运动套装
											a(href='javascript:;') 精选妈妈装
											a(href='javascript:;') 大码女装
											a(href='javascript:;') 职业套装
											a(href='javascript:;') 优雅旗袍
											a(href='javascript:;') 精致礼服
											a(href='javascript:;') 婚纱
											a(href='javascript:;') 唐装
											a(href='javascript:;') 小码女装 
									div.comDetailLinkGroup
										div.comDetailLinksTitle 
											span 特色女装
											span >
										div.comDetailLinksContent
											a(href='javascript:;') 文胸
											a(href='javascript:;') 文胸套装
											a(href='javascript:;') 无钢圈聚拢型
											a(href='javascript:;') 塑身裤
											a(href='javascript:;') 塑身连体衣
									div.comDetailLinkGroup
										div.comDetailLinksTitle 
											span 家居服
											span >
										div.comDetailLinksContent
											a(href='javascript:;') 睡衣
											a(href='javascript:;') 睡衣秋款
											a(href='javascript:;') 睡衣冬款
											a(href='javascript:;') 珊瑚绒睡衣
											a(href='javascript:;') 情侣睡衣
											a(href='javascript:;') 男士睡衣
											a(href='javascript:;') 睡袍冬款
									div.comDetailLinkGroup
										div.comDetailLinksTitle 
											span 文胸塑身
											span >
										div.comDetailLinksContent
											a(href='javascript:;') 文胸
											a(href='javascript:;') 文胸套装
											a(href='javascript:;') 无钢圈聚拢型
											a(href='javascript:;') 塑身裤	
											a(href='javascript:;') 塑身连体衣
									div.comDetailLinkGroup
										div.comDetailLinksTitle 
											span 袜类
											span >
										div.comDetailLinksContent
											a(href='javascript:;') 袜子男士
											a(href='javascript:;') 袜子加绒
											a(href='javascript:;') 丝袜女士
											a(href='javascript:;') 船袜			
								div.comDetailImages
						li#secondFloor
							a(href='javascript:;') 男装 /运动户外
							div.commodityDetail asdfasdfa
						li
							a(href='javascript:;') 女鞋 /男鞋 /箱包
						li
							a(href='javascript:;') 化妆品 /个人护理
						li
							a(href='javascript:;') 腕表 /珠宝饰品 /眼镜
						li
							a(href='javascript:;') 手机 /数码 /电脑办公
						li
							a(href='javascript:;') 母婴玩具
						li
							a(href='javascript:;') 零食 /进口食品 /茶酒
						li
							a(href='javascript:;') 生鲜水果
						li
							a(href='javascript:;') 大家电 /生活电器
						li
							a(href='javascript:;') 家具建材
						li
							a(href='javascript:;') 汽车 /配件 /用品
						li
							a(href='javascript:;') 家纺 /家饰 /鲜花
						li
							a(href='javascript:;') 医药保健
						li
							a(href='javascript:;') 厨具 /收纳 /宠物
						li
							a(href='javascript:;') 图书音像
			li 
				i.glyphicon.glyphicon-shopping-cart
				a(href='javacript:;') 商城超市
			li 
				i.glyphicon.glyphicon-globe
				a(href='javacript:;') 商城国际
		ul.navSubRight
			li 
				a(href='javacript:;') 商城会员
			li 
				a(href='javacript:;') 品牌街
			li 
				a(href='javacript:;') 电器城
			li 
				a(href='javacript:;') 好鲜生
			li 
				a(href='javacript:;') 医药馆
			li 
				a(href='javacript:;') 营业厅
			li 
				a(href='javacript:;') 魅力惠
			li 
				a(href='javacript:;') 商城旅行
	