div.fixSidebar
	div.menubar
		div.menubarUp
			i.glyphicon.glyphicon-user
				li 商城会员
			i.glyphicon.glyphicon-shopping-cart
				li 购物车
			i.glyphicon.glyphicon-star
				li 我的收藏
			i.glyphicon.glyphicon-map-marker
				li 我的足迹
			i.glyphicon.glyphicon-bell
				li 我的消息
		div.menubarDown
			i.glyphicon.glyphicon-chevron-up#toUpButton
				li 返回顶部
			i.glyphicon.glyphicon-edit
				li 反馈
	div.backDiv
	div.detailDiv#user i am user
	div.detailDiv#shoppingCart i am shopping cart
	div.detailDiv#heart i am love things
	div.detailDiv#map i am history
	div.detailDiv#bell i am information
	div.detailDiv#edit i am feedback
	span.removeIcon X