.banner{
	background:  #FD3525;
}
.middle{
	/* border: 3px solid black; */
	width: 80%;
	margin: 0 auto;
	position: relative;
	
}
	.imagesWrap{
		border: 3px solid black;
		width: 5202px;
		height: 500px;
		margin-left: 217px;
		/* margin-top: -10px; */
	}
		.imagesWrap img{
			width: 867px;
	/* 		top: 0;
			left: 217px; */
			float: left;
		}