.interval{
	width: 1240px;
	margin: 10px auto;
}
	.interval a img{
		width: 1220px;
	}
.indexBanner{
	/* background:  #FD3525; */
	height: 500px;
	color: black;
}
.indexBanner a{
	color: black;
}
.middle{
	/* border: 3px solid black; */
	width: 1267px;
	margin: 0 auto;
	position: relative;
	font-size: 12px;
	/* overflow: hidden; */
}
	.infoMoreWrap{
		width: 170px;
		height: 480px;
		/* background: rgba(101,118,140,0.5); */
		position: absolute;
		right: 0;
		top: 10px;
		/*display: none;*/
	}
	#firstAnnounSub{
		display: none;
	}
	#secondAnnounSub{
		/* display: none; */
	}
.entrys{

}
.mainMiddle{
	width: 1280px;
	margin:10px auto;
	/* background: red; */
	/* height: 10px; */
}
	.mainRecommended{
		width: 100%;
		height: 436px;
		/* background: yellow; */
	}
		.mainRecLive{
			background: black;
			float: left;
			width: 35.2em;
			height: 436px;
		}
			/* left */
			.LiveImghidden{
				width: 35.2em;
				height: 19.8em;
				overflow: hidden;
				position: relative;
				background: red;
			}
			.LiveImgWrap{
				width: 211.2em;
				position: absolute;
				left: 0;
				top: 0;
			}
			.liveListWrap{
				width: 35.2em;
				height: 6em;
				overflow: hidden;
				margin-top: 0.5em;
			}
				.LiveList{

				}
					.LiveList img{
						width: 11.2em;
						height: 6em;
						margin: 0.2em;
					}
				.mainRecLiveImg{
					width: 35.2em;
					height: 19.8em;
				}

			.liveFore{
				color: white;
				margin-top: 0.5em;
				margin-left: 0.5em;
				position: relative;
			}
				.liveForeLeft{
					float: left;
					width: 20%;
				}
					.liveForeLeft span:first-child{
						/* color: #FD4889; */
						width: 2em;
						display: inline-block;
					}	

					.vertiSpan{
						width: 2em;
						display: inline-block;
						transform: rotate(90deg);
						display: inline-block;
						height: 2em;
						font-size: 16px;
						position: absolute;
						top: 0.2em;
						left: 1.2em;
					}
					.liveForeLeft span:nth-child(3){
						/* margin-left: 1.5em; */
						color: gray;
						position: absolute;
						top:-0.2em;
						left: 1.6em;
						font-size: 34px;
					}
					.alertSpan{
						color: #FD4889;
					}
				.liveForeRight{
					float: left;
					width: 80%;
					height: 3em;
					overflow: hidden;
					position: relative;
				}
					.liveForeListWrap{
						position: absolute;
						top: 0;
						height: 6em;
					}
					.oneLiveFore{
						margin-bottom: 0.2em;
					}
					.oneLiveFore span{
						display: block;
					}

			/* right */
			.mainRecBrands{
				/* background: blue; */
				float: right;
				width: 56%;
			}

				.recBrand{
					width: 8.3em;
					height: 7.5em;
					/* background: red; */
					float: left;
					padding: 0.5em;
					margin: 1px;
					cursor: pointer;
					position: relative;
				}
					.recBrand img{
						margin-top: 1em;
					}
					.maskLayer{
						display: none;
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background: rgba(0, 0, 0, 0.8);

						color: white;
						font-size: 12px;
					}
					.recBrand:hover .maskLayer{
						display: block;
					}
						.maskLayer div:first-child{
							width: 6.5em;
							/* background: green; */
							margin: 3em auto 1em;
						}
						.maskLayer div:nth-child(2){
							background: red;
							width: 5em;
							border-radius: 20px / 20px;
							text-indent: 6px;
							margin: 0 auto;
						}
	/*.mainNav floor*/
	.mainNav{
		width: 100%;
		margin-top: 30px;
		height: 500px;
	}
		.channel-column{
			width: 245px;
			height: 430px;
			margin-left: 10px;
			float: left;
			/* background: yellow; */
			/* border: 1px dashed red; */
		}
			.channel-column>div{
				width: 100%;
				text-align: center;
			}
			.channel-title{
				
				height: 40px;
				color: white;
				background: #DD2727;
				font-size: 18px;
				line-height: 40px;
				font-weight: bold;
			}
			.channel-part{
				position: relative;
			}
				.part-bigtitle{
					font-size: 22px;
					
					margin: 20px 0px 5px;
				}
				.part-smalltitle{
					font-size: 15px;
					color: gray;
					
				}
				.img-con img{
					position: absolute;
					top: 70px;
					left: 50%;
					transform: translateX(-50%);
					width: 140px;
					transition: width 0.5s ease-in-out;
					cursor: pointer;
				}
				.img-con img:hover{
					width: 145px;

				}
				.img-mask{
					height: 150px;
				}
.floor{
	width: 1230px;
	margin: 30px auto 0;
	height: 500px;
	/* background: yellow; */
	position: relative;
}
.floor a{
	color: black;
}
.floor a:hover{
	text-decoration: none;
}
	.floor-icon{
		width: 5px;
		height: 20px;
		background: #F7A945;
		display: inline-block;
	}
	.floor-name{
		display: inline-block;
		margin-left: 20px;
		font-weight: bold;
	}
	.floor-sub-name{
		display: inline-block;
		margin-left: 20px;
		font-size: 14px;
		font-weight: bold;
	}
	.floor-content{
		
	}
		.floor-hot-words{
			position: absolute;
			top: 0;
			right: 0;
		}
			.floor-hot-words li {
				float: left;
				margin: 5px;
				
			}
			.floor-hot-words li a{
				color: black;
			}
		.floor-content-left{
			width: 246px;
			display: block;
			float: left;
			position: relative;
		}
			.floor-content-left img{
				width: 100%;
				/* height:  */
			}
				.act-title-warp{
					/* background: red; */
					width: 100%;
					height: 25px;
					overflow: hidden;
					position: absolute;
					background: rgba(255, 255, 255, 0.65);
					bottom:110px;
				}
					.slide-item{
						width: 100%;
						text-align: center;
						line-height: 25px;
					}
				.title-con{
					background:  #F7A945;
					width: 100%;
					height: 110px;
				}
				.title-con div{
					color: white;
					text-align: center;
				}
					.title-con-tile{
						font-size: 22px;
						/* margin-top: 20px; */
						padding-top: 20px;
					}
					.title-con-subtitle {
						font-size: 18px;
						
					}

			.floor-content-middle{
				width: 735px;
				height: 440px;
				float: left;
			}
			.one-grid{
				width: 243px;
				height: 220px;
				float: left;
				/* background: yellow; */
				display: block;
				margin: 1px;
				position: relative;
			}	
				.title{
					font-size: 18px;
					margin-top: 10px;
				}
				#first-Floor .floor-content .grid .subTitle{
					color: #F7A945;
				}
				#first-Floor .floor-content-left .title-con{
					background: #F7A945;
				}
				#first-Floor .floor-icon{
					background: #F7A945;
				}/*a floor style*/
				#sixthFloor .floor-content .grid .subTitle{
					color: #EA5F8D;
				}
				#sixthFloor .floor-content-left .title-con{
					background: #EA5F8D;
				}
				#sixthFloor .floor-icon{
					background: #EA5F8D;
				}/*a floor style*/
				#fifthFloor .floor-content .grid .subTitle{
					color: #0AA6E8;
				}
				#fifthFloor .floor-content-left .title-con{
					background: #0AA6E8;
				}
				#fifthFloor .floor-icon{
					background: #0AA6E8;
				}/*a floor style*/
				#fourthFloor .floor-content .grid .subTitle{
					color: #64C333;
				}
				#fourthFloor .floor-content-left .title-con{
					background: #64C333;
				}
				#fourthFloor .floor-icon{
					background: #64C333;
				}/*a floor style*/
				#thridFloor .floor-content .grid .subTitle{
					color: #F15453;
				}
				#thridFloor .floor-content-left .title-con{
					background: #F15453;
				}
				#thridFloor .floor-icon{
					background: #F15453;
				}/*a floor style*/
				#secondFloor .floor-content .grid .subTitle{
					color: #19C8A9;
				}
				#secondFloor .floor-content-left .title-con{
					background: #19C8A9;
				}
				#secondFloor .floor-icon{
					background: #19C8A9;
				}

				.one-grid img{
					width: 154px;
					position: absolute;
					bottom: 0;
					right: 0;
				}
			.floor-content-right{
				float: left;
			}
				.two-grid{
					width: 249px;
					height: 147px;
					/* background: skyblue; */
					display: block;
					position: relative;
				}
				.grid{
					cursor: pointer;

				}
				.grid img{
					transition: transform 0.3s ease-in;
				}
				.grid img:hover{
					transform: translateX(-10px);
				}
				.grid .title{
					margin-left: 30px;
				}
				.grid .subTitle{
					margin-left: 30px;
				}
					.two-grid img{
						width: 100px;
						position: absolute;
						bottom: 0;
						right: 0;
					}
	.flagship{
		width: 1250px;
		height: 770px;
		/* background: red; */
		margin: 20px auto;
	}
	.flagship a{
		color: inherit;

	}
	.flagship a:hover{
		text-decoration: none;
		cursor: pointer;
	}
		.sm-font{
			font-size: 14px;
		}
		.singleFlagship{
			width: 617px;
			height: 355px;
			float: left;
			/* box-sizing: border-box; */
			/* background: pink; */
			margin-bottom: 1px;
			margin-right: 1px;
			border: 1px solid white;
		}
		.singleFlagship:hover{
			border: 1px solid red;
			/* box-sizing: border-box; */
			/* width: 615px;
			height: 353px; */
			/* width: 611px; */
		}
			.heading{
				width: 100%;
				/* height: 60px; */
				height: 70px;
				/* background: pink; */
				padding: 10px 0px;
			}
				.flag-logo{
					/* display: inline-block; */
					width: 100px;
					height: 50px;
					line-height: 50px;
					margin-right: 10px;
					float: left;
				}
				.heading img{
					width: 100px;
					/* display: inline-block; */

				}
				.heading>a{
					color: gray;
					width: 80px;
					height: 30px;
					margin-top: 10px;
				}
				/* .heading p{
					display: inline-block;
				} */
					.shopmeta{
						height: 50px;
						width: 200px;
						text-overflow: ellipsis;
						float: left;
					}
						.shopmeta a{
							font-size: 16px;
							margin-top: 5px;
							/* padding-top: 15px; */
							display: inline-block;
							/* background-color: green; */
						}
						.shopmeta p{
							/* font-size:  */
							color: gray;
							margin-top: 5px;
						}
				.fr{
					float: right;
				}
			.shop-items{
				width: 100%;
			}
				.shop-item{
					display: inline-block;
					width: 200px;
					margin: 10px 0px;
					/* background: green; */
					
					transition: opacity 1s ease-in;
				}
				.shop-item:hover .poster{
					opacity: .7;
					transition: opacity 0.3s ease-in;
				}
				.shop-items li:first-child{
					margin-left: 10px;
				}

					.poster{
						
					}
					.meta{
						margin-top: 10px;
					}
						.meta-title{
							font-size: 12px;
							color: black;
							line-height: 18px;
							height: 36px;
							/* font-weight: bold; */
							overflow: hidden;
							text-overflow: ellipsis;
						}
						.price{
							color: red;
							font-size: 16px;
							font-weight: 600;
							line-height: 30px;
						}
	.guess{
		width: 1230px;
		/* height: 10px; */
		/* background: red; */
		margin: 0 auto;
		/* overflow: hidden; */
		/* clear: both; */
	}
	.cf{
		clear: both;
	}
	.guess a{
		color: black;
	}
	.guess a:hover{
		text-decoration: none;
	}
		.guess-head{
			margin: 0 auto;
			/* background: yellow; */
			width: 100px;
			position: relative;
		}
			.guess-head h2{
				font-size: 18px;
				/* display: inline-block; */
				color: #444;
				/* margin-left: 10px; */
			}
			.guess-head span{
				font-size: 20px;
				color: red;
				margin-right: 8px;
				vertical-align: middle;
			}
			.guess-head em{
				vertical-align: middle;
			}

			.dash{
				height: 1px;
				width: 30px;
				background: gray;
				position: absolute;
				top: 12px;
				/* left: 0; */
			}
			.dash-left{
				left: -38px;
			}
			.dash-right{
				right: -42px;
			}
		.guess-content{
			width: 100%;
		}
			.guess-goods{
				width: 232px;
				height: 326px;
				margin-right: 12px;
				margin-bottom: 7px;
				/* display: block; */
				float: left;
				border: 1px solid white;
				padding: 2px;
			}
			.guess-goods:hover{
				border: 1px solid red;
			}
				.guess-goods-link{
					display: block;
					width: 235px;
				}
				.guess-content .guess-goods img{
					width: 226px;
					margin-bottom: 10px;
				}
					.guess-content .guess-goods img:hover{
						opacity: 0.7;
						transition: opacity 0.3s ease-out;
					}
				.item-desc{
					color: gray;
					font-size: 13px;
					text-overflow: ellipsis;
					overflow: hidden;
					width: 215px;
					height: 34px;
					line-height: 17px;
					margin: 10px;
					display: block;
				}
				.item-price{
					color: red;
					display: block;
					font-size: 16px;
					margin-left: 10px;
				}
					.item-price .price-decimal{
						font-size: 12px;
					}
	.floor-gide{
		position: fixed;
		left: 1%;
		bottom: 50px;
		width: 37px;
		display: none;
		z-index: 12;
	}
		.floor-gide div{
			width: 36px;
			height: 36px;
			margin-bottom: 2px;
			background: #626262;
			color: white;
			text-align: center;
			line-height: 14px;
			/* padding-top: 3px; */
			padding: 5px 5px 0px;
			cursor: pointer;
			vertical-align: middle;
			font-size: 12px;
			/* display: table-cell; */
		}
			#nav{
				background: red;
			}
			#toTop{
				background: #ABABAB;
			}