/*@mobile detail style sheet*/
a:visited{
	text-decoration: none;
}
.header{
	width: 10rem;
	height: 1rem;
	position: fixed;
	top: 0;
	z-index: 1;
	background: #fff;
}
	.header>span{
		width: 3.3rem;
		display: inline-block;
		line-height: 1rem;
		text-align: center;
		font-size: 0.37rem;
		/*cursor: pointer;*/
	}
	.header-focus{
		border-top: 2px solid #f40000;
		color:#f40000;
	}
.middle-outer{
	width: 10rem;
	/*border: 1px solid black;*/
	position: relative;
	height: 40rem;
	overflow: hidden;
}
.middle{
	width: 30rem;
	/*height: 20rem;*/
	/*background: red;*/
	position: absolute;
	top: 0;
	/*left: -414px;*/
	left: 0;
	float: left;
	overflow: hidden;
}
	.middle>div{
		width: 10rem;
		/*height: 20rem;*/
		float: left;
		overflow: hidden;
		padding:1rem 0 1.55rem 0;
	}
	.info{
		background: #e7e7e7;
	}
		.piclist-outer{
			width: 10rem;
			height: 10rem;
			overflow: hidden;
			position: relative;
		}
			.piclist-inner{
				width: 50rem;
				position: absolute;
				top: 0;
				left: 0;
				transform: translate3d(0px,0,0px);
			}
			.piclist-inner img{
				width: 10rem;
			}
			.piclist-signal-wrapper{
				position: absolute;
				left: 50%;
				bottom:0.1rem;
				/*background: red;*/
				margin-left: -2rem;	
				width: 4rem;
				height: 0.4rem;
			}
				.piclist-signal{
					list-style-type: none;
					/*overflow: hidden;*/
					margin: 0;
					padding: 0;
				}
			.piclist-signal li{
				float: left;
				display: block;
				width: 0.3rem;
				height: 0.3rem;
				background: #e0e0e0;
				border-radius: 50%;
				margin:0 0.25rem;
			}
			.piclist-signal .piclist-signal-selec{
				background: #f40000;
			}
		.info-info{
			width: 10rem;
			background: #fff;
			margin-top:0.1rem ;
			padding: 0.2rem ;
		}
			.info-info-title{
				font-size: 0.4rem;
			}
			.info-info-price{
				font-size: 0.55rem;
				color:#dd2727;
				margin:0.3rem 0;
			}
			.info-info-other {
				display: flex;
				width: 10rem;
			}
				.info-info-other span{
					flex: 1;
					text-align: center;	
					color: gray;
				}
				.info-info-other span:first-child{
					text-align: left;
				}
				.info-info-other span:last-child{
					text-align: right;
					margin-right: 0.4rem;
				}
		.info-vouchers{
			width: 10rem;
			background: #fff;
			margin-top: 0.1rem;
			padding:0.2rem;
		}
			.voucher-item{
				height: 0.7rem;
			}
				.vouchers-titel{
					background: #e7e7e7;
					padding:0.01rem 0.05rem;
					border:1px solid #c40000;
					border-radius: 4px;
					color: #c40000;
					width: 1.5rem;
					text-align: center;
					display: inline-block;
					margin-right: 0.5rem;
					/*color:;*/
				}
				.button{
					float: right;
					color:#a7a7a7;
					border: gray;
					border: 1px solid gray;
					padding:0 0.1rem;
				}
			.vochers-divider{
				width: 9rem;
				margin:0.1rem 0.5rem;
				border-top: 0.05rem solid #e0e0e0	;
			}
			.integral{
				height: 0.7rem;
			}
				.vouchers-titel{
					line-height: 0.7rem;
				}
				.text-btn{
					float: right;
					font-size: 0.5rem;
					line-height: 0.5rem;
					color:#a7a7a7;
				}
			.selec{
				width: 10rem;
				background: #fff;
				padding: 0.2rem ;
				margin-top: 0.1rem;
				height: 1rem;
				/*line-height: 0.7rem;*/
			}
				.selec span{
					line-height: 0.7rem;
				}
				/*.selec .txt*/
			.cover{
				width: 10rem;
				height: 100%;
				position: fixed;
				top: 0;
				left: 0;
				z-index: 11;
				background: rgba(0,0,0,0.7);
				display: none;
			}
			.info-selec{
				/*display: none;*/
				position: fixed;
				bottom: 0;
				height: 12rem;
				width: 10rem;
				background: white;
				z-index: 12;
				transform: translate3d(0,100%,0);
				transition: transform 0.5s ease-in-out;
			}
			.info .show{
				transform: translate3d(0,0,0);
				transition: transform 0.5s ease-in-out;
			}
				.info-selec-title{
					position: absolute;
					top: 0;
					width: 10rem;
					height: 2.3rem;
					/*background: lightblue;*/
					border:1px solid #ddd;
					/*padding: 0.2rem;*/
				}
					.info-selec-imgwrap{
						position: absolute;
						width: 2.5rem;
						top: -0.5rem;
						left: 0.2rem;
						z-index: 11;
						padding: 0.05rem;
						border: 1px solid #aaa;
						border-radius: 2px;
						background: white;
					}
						.info-selec-imgwrap img{
							width: 2.4rem;
							/*height: */
						}
					.info-selec-main{
						margin-left: 2.9rem;
						width: 7rem;
						height: 2rem;
						/*background: red;*/
						padding-top: 0.1rem;
					}
						.info-selec-main>span{
							width: 100%;
							display: block;
						}
						.infoSeTit-price{
							color: #c40000;
							font-size: 0.5rem;
							font-weight: 400;
						}
						.infoSeTit-last{
							/*color: #aaa;*/

						}
							.infoSeTit-last>span{
								margin-right: 0.3rem;
							}
						.infoSeTie-haschoose{
							/*color:#aaa;*/
						}
							.infoSeTie-haschoose>span{
								margin-right: 0.3rem;
							}
					.info-selec-close{
						position: absolute;
						top: 0.1rem;
						right: 0.1rem;
						display: block;
						border: 1px solid #aaa;
						width: 0.5rem;
						height: 0.5rem;
						text-align: center;
						color: #aaa;
						vertical-align: middle;
						display: table-cell;
						border-radius: 50%;
					}
				.info-selec-btnsarea{
					margin-top: 2.3rem;	
					height: 5rem;
					/*background: red;*/
					height: 8.61rem;
					overflow: scroll;		
				}
				.devider{
					width: 9.6rem;
					margin: 0 0.2rem;
					border-top: 1px solid #ddd;
				}
				.info-selec-btnarea{
					padding: 0.2rem;
				}
					.info-selec-btntitle{
						width: 10rem;
						margin-left: 0.1rem;
						margin-top: 0.1rem;
					}	
					.info-selec-btns1 , .info-selec-btns2{
						width: 10rem;
						overflow: hidden;
					}
						.info-selec-btns1>.btn-selected,.info-selec-btns2>.btn-selected{
							border:1px solid #c40000;
						}
						.info-selec-btns1>span , .info-selec-btns2>span{
							display: block;
							border: 1px solid #c7c7c7;
							border-radius: 2px;
							float: left;
							padding:0.1rem 0.3rem;
							font-size: 0.4rem;
							margin:0.1rem 0.1rem;
						}
				.info-selec-number{

				}	
					.info-selec-number .btn-unable{
						color:#aeaeae;
					}
					.info-selec-number>span{
						display: block;
						float: left;
						width: 0.8rem;
						border: 1px solid #aeaeae;
						height: 0.8rem;
						text-align: center;
						vertical-align: middle;
						line-height: 0.8rem;
						font-size: 0.5rem;
						font-weight: 900;
					}
					.info-selec-number>input{
						float: left;
						border: 1px solid #aeaeae;
						display: block;
						height: 0.8rem;
						width: 1rem;
						line-height: 0.8rem;
						text-align: center;
						font-size: 0.4rem;
						font-weight: 900;
					}
				.info-selec-yes{
					width: 10rem;
					display: block;
					position: absolute;
					bottom: 0;
					height: 1.1rem;
					line-height: 1.1rem;
					text-align: center;
					color:#fff;
					font-size: 0.4rem;
					/*font-weight: bold;*/
					background: #c40000;
				}
			.goods-popular{
				margin-top: 0.1rem;
				width: 10rem;
				background: #fff;
				padding: 0.2rem;
			}
				.goods-popular-title{

				}
				.goods-popular-content{
					width: 100%;
					overflow: hidden;
				}
					.goods-popular-singer{
						float: left;
						/*border: 1px solid black;*/
						width: 3rem;
						margin-left: 0.1rem;
						padding: 0.1rem;
					}
					.goods-popular-singer img{
						width: 100%;
					}
					.goodsPopSinTil{
						width: 100%;
						height: 1rem;
						overflow: hidden;
						display: block;
						text-overflow: ellipsis;
						color:#333;
						line-height: 0.5rem;
						/*background: red;*/

					}
					.goodsPopSinOldPrice{
						width: 100%;
						height: 0.3rem;
						display: block;
						color:#ccc;
						font-size: 0.3rem;
						text-decoration: line-through;
						line-height: 0.3rem;
					}
					.goodsPopSinPrice{
						width: 100%;
						height: 0.5rem;
						display: block;
						/*background: green;*/
						color: #c40000;
						font-size: 0.4rem;
						font-weight: bold;

					}

	.more{
		/*background: pink;*/
	}
		.more-wrapper{
			width: 10rem;
		}
		.more-wrapper img{
			width: 10rem;
			/*width: 320px;*/
		}
	.comment{
		/* background: #eee; */
	}
		.comment-keyword{
			background: white;
			margin-top: 0.25rem;
			border-top: 1px solid #ddd;
			padding: 0.1rem;
			overflow: hidden;
		}
			.comment-keyword .keywords-selected{
				background: red;
				color: #fff;
			}
			.comment-keyword>span{
				display: block;
				float: left;
				/* border: 2px solid  */
				background: #FEE;
				padding: 0.2rem 0.3rem;
				margin: 0.2rem;
				border-radius: 0.2rem;
				color: gray;
				font-size: 0.3rem;
			}
		.comment-divider{
			width: 9.4rem;
			border-top: 1px solid #d5d5d5;
			/* margin: 0 0.2rem; */

		}
		.comment-content{
			padding: 0.3rem 0;
			background: #cdcdcd;
		}
			
			.comment-sin{
				/* width: 9.4rem; */
				background: #fff;
				padding: 0.1rem 0.3rem;
				margin-bottom: 0.3rem;
			}
				.comment-sin-title{
					width: 100%;
					overflow: hidden;
					height: 1rem;
					line-height: 1rem;
				}
					.comment-sin-title>span{
						color: gray;
					}
					.comment-sin-title-name{
						float: left;
					}
					.comment-sin-title-headerimg{
						float: left;
						border-radius: 50%;
						width: 0.8rem;
						margin-right: 0.2rem;
					}
					.comment-sin-title-date{
						float: right;
					}
				.comment-sin-main{
					padding-top: 0.2rem;
				}
					.main-mark{
						color: #c40000;
					}
					.main-text{
						font-size: 13px;
					}
					.main-img{
						margin: 0.2rem 0;
					}
						.main-img>img{
							width: 2rem;
							margin-left: 0.3rem;
							border-radius: 5px;
						}
				.goods-info{
					color: gray;
					font-size: 12px;
				}
.footer{
	position: fixed;
	bottom: 0;
	width: 10rem;
	height: 1.2rem;
	z-index: 2;
	background: #f6f6f6;
	/*padding: 0.1rem 0;*/
}
.footer-iconlist{
	/*border:1px black solid;*/
	width: 4.8rem;
	/*display: inline-block;*/
	float: left;
}

.footer-iconlist>a{
	width: 1.6rem;
	display: inline-block;
	text-align: center;
	margin-top: 0.2rem;
	/*position: relative;
	position: absolute;
	bottom:0rem;
	left: 0rem;*/
}
.footer-iconlist>a>span{
	width: 1.6rem; } 
.footer-iconlist>a>span:first-child{
	font-size: 0.45rem;
	color:#999;
}
.footer-iconlist>a>span:last-child{
	font-size: 0.3rem;
	color: #666;
}
#footer-btns{
	background: pink;
	width: 5.2rem;
	float: right;
	/*display: inline-block;*/
}
#footer-btns .footer-btn{
	width: 2.6rem;
	display: block;
	float: left;
	/*outline: none;*/
	border:none;
	height: 1.2rem;
	line-height: 1.2rem;
	text-align: center;
	color: white;
	font-size: 0.35rem;
	/*float: right;*/
	/*display: inline-block;*/
	/*padding: 0;*/
	/*margin: 0;*/
}


.footer-btn-addToCart{
	background: #ff9500;
}
.footer-btn-buyNow{
	background: #DD2727;
}
.masker{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%,-50%,0);
	width: 7rem;
	height: 3.5rem;
	background: rgba(0,0,0,0.7);
	color:#fff;
	z-index: 20;
	display: none;
	border-radius: 5px;
}
	.masker-text{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%,-200%,0);
		/*margin:0 auto;*/
		/*background: red;*/
	 	font-size: 0.5rem;
	}
	.masker-sign{
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translate3d(-50%,-200%,0);
	}
		.masker-sign>span{
			font-size: 0.7rem;
		}