doctype
html
	head
		title #{title}
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width')
		script(src='/bundle.js')
		link(href='./style/publicStyle.css' rel='stylesheet' type='text/css')
		link(href='./bower_components/bootstrap/dist/css/bootstrap.css' rel='stylesheet' type='text/css')
		link(href='./style/detailPure.css' rel='stylesheet' type='text/css')
	body
		include ../includes/sidebar.jade
		include ../includes/header.jade
		include ../includes/nav.jade
		div.tap-wrap
			div.tap-middle
				//- div.tap-wrap-null
				div.detail-tap-head
					span.detail-tap-selec
						a(href='javascript:;').detail-btn-info 商品详情
					span
						a(href='javascript:;').detail-btn-param 规格参数
					span
						a(href='javascript:;').detail-btn-advise 商品推荐
					span
						a(href='javascript:;').detail-btn-service 商品咨询
					span
						a(href='javascript:;').detail-btn-evaluate 累计评价
					div.tap-cart
						i.glyphicon.glyphicon-shopping-cart
						btn 加入购物车
		div.detail
			div.detail-img
				a(href='javascript:;').detail-img-main#imgMainWrap
					img(src='./images/detail/one-plus/main.jpg')#imgMain
					div#imgLoc
				div.manifyImg
					img(src='./images/detail/one-plus/main.jpg')
				ul.detail-img-list
					li
						a(href='javascript:;')
							img(src='./images/detail/one-plus/main.jpg')
					li
						a(href='javascript:;')
							img(src='./images/detail/one-plus/side.jpg')
					li
						a(href='javascript:;')
							img(src='./images/detail/one-plus/black-back.jpg')
				p.detail-share
					a(href='javascript:;')
						span.glyphicon.glyphicon-send
						span 分享
					a(href='javascript:;')#collect
						span.glyphicon.glyphicon-star
						span 收藏商品
						span（66488人气）
					span 举报
			div.detail-content
				div.decon-title
					h1 
						a(href='javascript:;') OnePlus/一加 A3000 一加手机3 一加3t
					span 骁龙820 6G运存 64G存储 限量现货
					dl.price-panel.panel
						dt 价格
						dd ￥2699.00
					dl.carriage.panel
						dt 运费
						dd 
							span 山东济南
							span 至
							span 西安
							span 未央区 三桥街道
					dl.activity-panel.panel
						dt 活动
						dd 购物满1000包邮
				div.detail-desc
					div.detail-sales
						dl.panel
							dt 月销量
							dd 103
					span.inter-span
					div(href='javascript:;').detail-evaluation
						a
							dl.panel
								dt 累计评价
								dd 3273 
					span.inter-span
					div.detail-intergal
						a(href='javascript:;')
							dl.panel
								dt 送天猫积分
								dd 
									span 269
									span 起
				div.detail-chioce
					dl.panel
						dt 版本
						dd 
							ul
								li.selec A3010
								li.selec A3000
								li.selec 3T
					dl.panel
						dt 机身颜色
						dd
							ul
								li.selec 冰川灰
								li.selec 薄荷金
					dl.panel
						dt 套餐类型
						dd
							ul
								li.selec 官方套餐
								li.selec 套餐一
								li.selec 套餐二
								li.selec 套餐三
								li.selec 套餐四
								li.selec 套餐五
								li.selec 套餐六
					dl.panel
						dt 存储容量
						dd
							ul
								li.selec 64GB
					dl.panel
						dt 版本类型
						dd
							ul
								li.selec 中国大陆
					dl.panel
						dt 数量
						dd.panel-stroge
							input(type='number' value='1').detail-count
							span 库存
							span 123
							span 件
				div.buy-panel
					a.buy-btn
						span 立即购买
					a.shopcar-btn
						span.glyphicon.glyphicon-shopping-cart
						span 加入购物车
				div.detail-chioce
					dl.serve-commiment
						dt 服务承诺     
						dd 
							ul
								li 
									a 全国联保
								li 
									a 免居正退换货
								li 
									a 正品保证
								li
									a 急速退款
								li
									a 七天无理由
					div
						span 支付方式
						span >
		div.detail-more
			div.detail-recommand

			div.detail-tap
				div.detail-tap-head.source-btns
					span.detail-tap-selec
						a(href='javascript:;').detail-btn-info 商品详情
					span
						a(href='javascript:;').detail-btn-param 规格参数
					span
						a(href='javascript:;').detail-btn-advise 商品推荐
					span
						a(href='javascript:;').detail-btn-service 商品咨询
					span
						a(href='javascript:;').detail-btn-evaluate 累计评价
				div#detail-tap-info.detail-tap
					div.detail-info-brand
						div 品牌名称：
							a Xiaomi/小米
							span.glyphicon.glyphicon-heart 关注
					div.detail-info-title
						p 产品参数：
						a(href='javascript:;') 更多参数
							i.more-icon
					ul.detail-info
						li 证书编号：2015011606832528
						li 证书状态：有效
						li 申请人名称：小米通讯技术有限公司
						li 制造商名称：小米通讯技术有限公司
						li 产品名称：TD-LTE数字移动电话机
						li 3C产品型号：2015112(电源适配器：MDY-03-EF 输出：5.0VDC 2000mA）
						li 产品名称：Xiaomi/小米 小米5S
						li CPU型号: 骁龙821
						li 型号: 小米5S
						li 机身颜色: 灰色 金色 银色
						li 运行内存RAM: 4GB
						li 存储容量: 32GB
						li 网络模式: 双卡多模
						li 电池容量: 3200mAh
				div#detail-tap-param.detail-tap
					table
						thead
							tr
								th 规格参数	
						tbody
							tr
								th 基本参数
							tr
								th 品牌
								td Xiaomi/小米
							tr
								th 型号
								td 小米5S
							tr
								th 机身颜色
								td 灰色 金色 银色
							tr
								th 操作系统
								td MIUI
							tr
								th 手机类型
								td 拍照手机 音乐手机 时尚手机 智能手机 3G手机 电视手机 4G手机 商务手机 女性手机
							tr
								th 电池类型
								td 不可拆卸式电池
							tr
								th 核心数
								td  四核
							tr
								th 电池容量
								td  3200mAh
							tr
								th 存储
							tr
								th 运行内存RAM
								td 4GB
							tr
								th 存储容量
								td  32GB
							tr
								th 网络
							tr
								th 网络类型
								td 移动4G+/联通4G+/电信4G+
							tr
								th 网络模式
								td 双卡多模
							tr
								th 显示
							tr
								th 尺寸
								td 5.15英寸
							tr
								th 触摸屏类型
								td 电容式
							tr
								th 分辨率
								td  1920*1080
							tr
								th 拍照功能
							tr
								th 后置摄像头
								td 1200万
							tr
								th 摄像头类型
								td 双摄像头（前后）
							tr
								th 视频显示格式
								td  1080P(全高清D5)
							tr
								th 机身详情
							tr
								th 款式
								td 直板
							tr
								th 键盘类型
								td 虚拟触屏键盘
							tr
								th 厚度
								td 8.25mm
				div#detail-tap-service.detail-tap

				div#detail-tap-evaluate.detail-tap
					div.detail-rate-header
					div.detail-rate-tool
					div.detail-rate-content
						table
							tr.detail-rate-single
								td.detail-user-header
									img(src='./images/detail/header-cola.png')
									p
								td.detail-user-master
									div.detail-user-primery
										div.detail-userPri-title
											span 初次评价:
											sapn 今天
										div.detail-userPri-content 很棒的一部手机，双十一时买的特供灰，正面一体化相当漂亮，2.5D的玻璃很赞，背面是磨砂灰，视觉和手感都比拉丝的好，5.15寸的屏幕看视频正合适，单手操作稍微有点大，机身很轻薄放在裤兜里基本没感觉，外放破音有待优化听歌适合插耳机，正面指纹很灵敏，NFC也很实用，没红外不过可以淘一个二十块的红外头，WiFi和全网通的信号比以前好很多，生产日期是2016.11，建议以后的标配数据线改成USB3.0的
									div.detail-user-append
										div.detail-userPri-title
											span 收货6天后追加
										div.detail-userPri-content 骁龙821使用体验很流畅，续航也可以，中度使用一天半一充，功耗控制的很好，除了充电的时候有点热，正常使用基本不发热，有的时候机身还很冰，况且QC3.0充电很快，不到一小时就可以充到90%，全充满的话一个半小时，需要注意卡是Nano卡，大卡和Micro卡需要到营业厅换卡
									div.detail-user-reply
										p.detail-userRep-content 解释：亲耐滴，是酱紫呢，目前产品销量巨大，仓库师傅们也在加班加点发货哦，尽量给亲亲早发的呢~产品方面亲大可放心呢，此款神器乃攻城狮GG~夜以继日，历经千万次试验磨练而成~质量必然是杠杠滴~亲就放心使用吧~么么哒。
								td.detail-user-meta
									dl
										dt 网络类型：
										dd 移动4G+/联通4G+/电信4G+
										dt 机身颜色：
										dd 灰色
										dt 套餐类型：
										dd 官方标配
										dt 存储容量：
										dd 32GB
				div#detail-tap-advise.detail-tap
					div
						img(src='./images/detail/xiaomi1.jpg')
						div.detail-advise-mask
						div.detail-advise-roll
							div.detail-advise-price $1999.00
							div
								span.detail-adRoll-title z***9
								span.detail-adRoll-content 粉色耳目一新，如果64G版本也能有4GRAM就好了。
							div
								span.detail-adRoll-title 绝***裤
								span.detail-adRoll-content 没有耳机啊？
							div
								span.detail-adRoll-title 亲***9
								span.detail-adRoll-content 客服基本等于没有，
		include ../includes/footer.jade
	script(src='./bower_components/jquery/dist/jquery.min.js')
	script(src='./bower_components/bootstrap/dist/js/bootstrap.min.js')
	script(src='./script/common.js' type='text/javascript')
	script(src='./script/detail.js' type='text/javascript')
