doctype
html
	head
		title #{title}
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width')
		script(src='/bundle.js')
		link(href='./style/publicStyle.css' rel='stylesheet' type='text/css')
		link(href='./bower_components/bootstrap/dist/css/bootstrap.css' rel='stylesheet' type='text/css')
		link(href='./style/banner.css' rel='stylesheet' type='text/css')
		link(href='./style/index.css' rel='stylesheet' type='text/css')
		link(href='./style/infoMore.css' rel='stylesheet' type='text/css')
	body
		include ../includes/sidebar.jade
		include ../includes/header.jade
		include ../includes/nav.jade
		div.indexBanner
			div.middle
				include ../includes/banner.jade
				div.infoMoreWrap
					include ../includes/infoMore.jade
		div.mainMiddle
			//-di yi ceng
			div.mainRecommended
				//-zuo bian
				div.mainRecLive
					div.LiveImghidden
						div.LiveImgWrap
							img(src='./images/big/big3.webp').mainRecLiveImg
							img(src='./images/big/big2.webp').mainRecLiveImg
							img(src='./images/big/big1.webp').mainRecLiveImg
							img(src='./images/big/big4.webp').mainRecLiveImg
							img(src='./images/big/big5.webp').mainRecLiveImg
							img(src='./images/big/big6.webp').mainRecLiveImg
					div.LiveList
						div.liveListWrap
							img(src='./images/big/big1.webp')
							img(src='./images/big/big2.webp')
							img(src='./images/big/big3.webp')
							img(src='./images/big/big4.webp')
							img(src='./images/big/big5.webp')
							img(src='./images/big/big6.webp')
					div.liveFore
						div.liveForeLeft
							span 直播预告
							span.alertSpan.vertiSpan LIVE
							span |
						div.liveForeRight
							div.liveForeListWrap
								div.oneLiveFore 
									span 欧丽薇兰携手海清还原锋味菜
									span.alertSpan 互动赢红包
								div.oneLiveFore 
									span 海错图笔记北大分享会 
									span.alertSpan 11月27日
								div.oneLiveFore 
									span 直击厦门钟表展拍卖收藏分享会
									span.alertSpan 11月27日
				//-you bian
				div.mainRecBrands
					div.recBrand
						img(src='./images/13.webp')
						div.maskLayer
							div 关注人数9.4万
							div 点击进入
					div.recBrand
						img(src='./images/14.webp')
						div.maskLayer
							div 关注人数9.4万
							div 点击进入
					div.recBrand
						img(src='./images/15.webp')
						div.maskLayer
							div 关注人数9.4万
							div 点击进入
					div.recBrand
						img(src='./images/16.webp')
						div.maskLayer
							div 关注人数9.4万
							div 点击进入
					div.recBrand
						img(src='./images/17.webp')
						div.maskLayer
							div 关注人数9.4万
							div 点击进入
					div.recBrand
						img(src='./images/18.webp')
						div.maskLayer
							div 关注人数9.4万
							div 点击进入
					div.recBrand
						img(src='./images/19.webp')
						div.maskLayer
							div 关注人数9.4万
							div 点击进入
					div.recBrand
						img(src='./images/13.webp')
						div.maskLayer
							div 关注人数9.4万
							div 点击进入
					div.recBrand
						img(src='./images/14.webp')
						div.maskLayer
							div 关注人数9.4万
							div 点击进入
					div.recBrand
						img(src='./images/15.webp')
						div.maskLayer
							div 关注人数9.4万
							div 点击进入
					div.recBrand
						img(src='./images/16.webp')
						div.maskLayer
							div 关注人数9.4万
							div 点击进入
					div.recBrand
						img(src='./images/17.webp')
						div.maskLayer
							div 关注人数9.4万
							div 点击进入
					div.recBrand
						img(src='./images/18.webp')
						div.maskLayer
							div 关注人数9.4万
							div 点击进入
					div.recBrand
						img(src='./images/19.webp')
						div.maskLayer
							div 关注人数9.4万
							div 点击进入
					div.recBrand
						img(src='./images/13.webp')
						div.maskLayer
							div 关注人数9.4万
							div 点击进入
					div.recBrand
						img(src='./images/14.webp')
						div.maskLayer
							div 关注人数9.4万
							div 点击进入
					div.recBrand
						img(src='./images/15.webp')
						div.maskLayer
							div 关注人数9.4万
							div 点击进入
					div.recBrand
						img(src='./images/16.webp')
						div.maskLayer
							div 关注人数9.4万
							div 点击进入
					div.recBrand
						img(src='./images/17.webp')
						div.maskLayer
							div 关注人数9.4万
							div 点击进入
					div.recBrand
						img(src='./images/18.webp')
						div.maskLayer
							div 关注人数9.4万
							div 点击进入
					div.recBrand
						img(src='./images/19.webp')
						div.maskLayer
							div 关注人数9.4万
							div 点击进入
					div.recBrand
						img(src='./images/13.webp')
						div.maskLayer
							div 关注人数9.4万
							div 点击进入
					div.recBrand
						img(src='./images/13.webp')
						div.maskLayer
							div 关注人数9.4万
							div 点击进入
					div.recBrand
						img(src='./images/13.webp')
						div.maskLayer
							div 关注人数9.4万
							div 点击进入
					//- img(src='./images/13.webp')
					//- img(src='./images/14.webp')
					//- img(src='./images/15.webp')
					//- img(src='./images/16.webp')
					//- img(src='./images/17.webp')
					//- img(src='./images/18.webp')
					//- img(src='./images/19.webp')
		div.alert(style='height:1900px;width:100%;background:pink;')  main content
			img(src='./images/1.webp')
			span !
			img(src='./images/2.webp')
			span !
			img(src='./images/3.webp')
			span !
			img(src='./images/4.webp')
			span !
			img(src='./images/5.webp')
			span !
			img(src='./images/6.webp')
			span !
			img(src='./images/7.webp')
			span !
			img(src='./images/8.webp')
			span !
			img(src='./images/9.webp')
			span !
			img(src='./images/10.webp')
			span !
			img(src='./images/11.webp')
			span !
			img(src='./images/12.webp')
			//- span !
			//- img(src='./images/13.webp')
			//- span !
			//- img(src='./images/14.webp')
			//- span !
			//- img(src='./images/15.webp')
			//- span !
			//- img(src='./images/16.webp')
			//- span !
			//- img(src='./images/17.webp')
			//- span !
			//- img(src='./images/18.webp')
			//- span !
			//- img(src='./images/19.webp')
			//- span !
			//- img(src='./images/big/big1.webp')
			//- img(src='./images/big/big2.webp')
			//- img(src='./images/big/big3.webp')
			//- img(src='./images/big/big4.webp')
			//- img(src='./images/big/big5.webp')
			//- img(src='./images/big/big6.webp')
		include ../includes/footer.jade
	script(src='./bower_components/jquery/dist/jquery.min.js')
	script(src='./bower_components/bootstrap/dist/js/bootstrap.min.js')
	script(src='./script/common.js' type='text/javascript')
	script(src='./script/index.js' type='text/javascript')
	script(src='./script/banner.js' type='text/javascript')
	