doctype
html
	head
		title #{title}
		link(rel='stylesheet' href='./style/mobilepublic.css')
		link(rel='stylesheet' href='./style/mdetail.css')
		link(href='./bower_components/bootstrap/dist/css/bootstrap.css' rel='stylesheet' type='text/css')
		meta(http-equiv="X-UA-Compatible" content="IE=edge, chrome=1")
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1')
		meta(name='aplus' content='1')
		meta(name='apple-mobile-web-app-title' content='商城')
		meta(name='apple-mobile-web-app-capable' content='yes')
		meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
		meta(name='format-detection' content='telephone=no,address=no')
		body
			div.header
				span#header-info.header-focus 基本信息
				span#header-more 商品详情
				span#header-comment 评价1734
			div.middle-outer
				div.middle 
					div.info 
						div.piclist-outer
							div.piclist-inner
								img(src='./images/mobile/detail/nike-slide.webp' alt='nike pic')
								img(src='./images/mobile/detail/nike-slide6.jpg' alt='nike pic')
								img(src='./images/mobile/detail/nike-slide7.webp' alt='nike pic')
								img(src='./images/mobile/detail/nike-slide9.webp' alt='nike pic')
								img(src='./images/mobile/detail/nike-slide5.jpg' alt='nike pic')
							div.piclist-signal-wrapper
								ul.piclist-signal
									li.piclist-signal-selec
									li
									li
									li
									li
						div.info-info
							div.info-info-title Nike 耐克官方 KOBE A.D. EP男子篮球鞋 852427
							div.info-info-price ¥1199.00
							div.info-info-other 
								span 快递: 0.00
								span 月销量 185件
								span 上海
						div.info-vouchers
							div.voucher-item
								span.vouchers-titel 购物券
								span 全商城实物商品通用
								span.button 领取
							div.vochers-divider
							div.integral
								span.vouchers-titel 积分
								span 购买可得599积分
								span.text-btn ...
						div.cover
						div.info-selec
							div.info-selec-title
								div.info-selec-imgwrap
									img(src="./images/mobile/detail/nike-slide.webp" alt="selec area img")
								div.info-selec-main
									span.infoSeTit-price ¥1199.00
									span.infoSeTit-last
										span 库存
										span 4
										span 件
									span.infoSeTie-haschoose
										span 已选择: 
										span.infoSeTie-first 39
										span.infoSeTie-second 大学红
								div.info-selec-close X
							div.info-selec-btnsarea
								div.info-selec-btnarea
									div.info-selec-btntitle 鞋码
									div.info-selec-btns1
										span.btn-selected 38.5
										span 39 
										span 40
										span 41
										span 42
										span 47.5
								div.info-selec-btnarea
									div.info-selec-btntitle 颜色分类
									div.info-selec-btns2
										span.btn-selected 大学红
										span 深藏青蓝/银灰色
										span 白/合金灰
								div.devider
									div.info-selec-btntitle 数量
									div.info-selec-number
										span.btn-unable.number-decreaseBtn -
										input.number-input(type="number" value="1")
										span.number-addBtn +
							div.info-selec-yes 确定
						div.selec
							span 选择：鞋码/颜色分类
							span.text-btn ...
						div.goods-popular
							span.goods-popular-title 看了又看
							div.goods-popular-content
								div.goods-popular-singer
									img(src="./images/mobile/detail/nike-popular1.webp" alt="popular singer")
									span.goodsPopSinTil  Nike 耐克官方 KYRIE 3 EP 男子篮球鞋 852396
									span.goodsPopSinOldPrice ¥1565
									span.goodsPopSinPrice ¥1199.00
								div.goods-popular-singer
									img(src="./images/mobile/detail/nike-popular2.webp" alt="popular singer")
									span.goodsPopSinTil  Nike 耐克官方 NIKE LEBRON XIV EP 男子篮球鞋 921084
									span.goodsPopSinOldPrice ¥1659
									span.goodsPopSinPrice ¥1199.00
								div.goods-popular-singer
									img(src="./images/mobile/detail/nike-popular3.webp" alt="popular singer")
									span.goodsPopSinTil  Nike 耐克官方NIKE ZOOM KOBE VENOMENON 5 EP 男子篮球鞋 853939
									span.goodsPopSinOldPrice ¥899
									span.goodsPopSinPrice ¥659
					div.more 
						span 商品图片
						div.more-wrapper
							img(src="./images/mobile/detail/nike1.webp" alt="")
							img(src="./images/mobile/detail/nike2.webp" alt="")
							img(src="./images/mobile/detail/nike3.webp" alt="")
							img(src="./images/mobile/detail/nike4.webp" alt="")
							img(src="./images/mobile/detail/nike5.webp" alt="")
							img(src="./images/mobile/detail/nike6.webp" alt="")
							img(src="./images/mobile/detail/nike7.webp" alt="")
							img(src="./images/mobile/detail/nike8.webp" alt="")
							img(src="./images/mobile/detail/nike9.webp" alt="")
					div.comment 
						div.comment-keyword
							span.keywords-selected 全部
							span 追加
							span 有图
							span 鞋子不错
							span 做工一般
							span 舒适度不错
						div.comment-divider
						div.comment-content
							div.comment-sin
								div.comment-sin-title m***n
								div.comment-sin-main
									div.main-text 鞋子不错，设计也很到位，刚到，其他的等先穿几天在追评
									div.main-img
										img(src="" alt="")
										img(src="" alt="")
								div.goods-info 颜色分类：深藏青蓝/银灰色/大学红 
							div.comment-sin
								div.comment-sin-title
								div.comment-sin-main
									div.main-text
									div.main-img
										img(src="" alt="")
										img(src="" alt="")
								div.goods-info
							div.comment-sin
								div.comment-sin-title
								div.comment-sin-main
									div.main-text
									div.main-img
										img(src="" alt="")
										img(src="" alt="")
								div.goods-info
						div
			div.footer
				div.footer-iconlist
					a(href='javascript:;')
						span.glyphicon.glyphicon-user
						span 客服
					a(href='javascript:;')
						span.glyphicon.glyphicon-star-empty
						span 收藏
					a(href='javascript:;')
						span.glyphicon.glyphicon-shopping-cart
						span 购物车
				div#footer-btns
					a(href='javascript:;').footer-btn.footer-btn-addToCart 加入购物车
					a(href='javascript:;').footer-btn.footer-btn-buyNow 立即购买
		script(src='./bower_components/jquery/dist/jquery.min.js')
		script(src='./script/mdetail.js')