doctype
html
	head
		title #{title}
		link(rel='stylesheet' href='./style/mobilepublic.css')
		link(rel='stylesheet' href='./style/mindex.css')
		link(href='./bower_components/bootstrap/dist/css/bootstrap.css' rel='stylesheet' type='text/css')
		meta(http-equiv="X-UA-Compatible" content="IE=edge, chrome=1")
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1')
		meta(name='aplus' content='1')
		meta(name='apple-mobile-web-app-title' content='商城')
		meta(name='apple-mobile-web-app-capable' content='yes')
		meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
		meta(name='format-detection' content='telephone=no,address=no')
		body
			form(method="get" action="./indexSeach").header
				span.glyphicon.glyphicon-th-list
				input(type='text' placeholder='搜索商品/店铺' name="keyword").header-text
				input(type="submit" value="").header-submit
				span.header-icon.glyphicon.glyphicon-search
				//span
				-var loadstatus = hasload
				if loadstatus
					span #{name}
				else
					a(href="./mload") 登录
			div.sidebar
			div.banner
				div.bannerwrap#mobilebanner
					a(href='javascript:;' alt='mobile banner')
						img(src="./images/mobile/banner/banner6.webp", alt="")
					a(href='javascript:;' alt='mobile banner')
						img(src="./images/mobile/banner/banner1.webp", alt="")
					a(href='javascript:;' alt='mobile banner')
						img(src="./images/mobile/banner/banner2.webp", alt="")
					a(href='javascript:;' alt='mobile banner')
						img(src="./images/mobile/banner/banner3.webp", alt="")
					a(href='javascript:;' alt='mobile banner')
						img(src="./images/mobile/banner/banner4.webp", alt="")
					a(href='javascript:;' alt='mobile banner')
						img(src="./images/mobile/banner/banner5.webp", alt="")
					a(href='javascript:;' alt='mobile banner')
						img(src="./images/mobile/banner/banner6.webp", alt="")
					a(href='javascript:;' alt='mobile banner')
						img(src="./images/mobile/banner/banner1.webp", alt="")
				div.bannerbtn
					span#bt1
					span#bt2
					span#bt3
					span#bt4
					span#bt5
					span#bt6
			ul.entry-list
				li
					a(href='javascript')
						img(src="./images/mobile/icon/icon-supermarket.png" alt='')
						span 超市
				li
					a(href='javascript')
						img(src="./images/mobile/icon/icon-inport.png" alt='')
						span 全球购
				li
					a(href='javascript')
						img(src="./images/mobile/icon/icon-clothes.png" alt='')
						span 服装城
				li
					a(href='javascript')
						img(src="./images/mobile/icon/icon-foods.png" alt='')
						span 生鲜
				li
					a(href='javascript')
						img(src="./images/mobile/icon/icon-topup.png" alt='')
						span 充值
				li
					a(href='javascript')
						img(src="./images/mobile/icon/icon-money.png" alt='')
						span 会赚钱
				li
					a(href='javascript')
						img(src="./images/mobile/icon/icon-coupons.png" alt='')
						span 领券
				li
					a(href='javascript')
						img(src="./images/mobile/icon/icon-van.png" alt='')
						span 物流查询
				li
					a(href='javascript')
						img(src="./images/mobile/icon/icon-favorite.png" alt='')
						span 我的关注
				li
					a(href='javascript')
						img(src="./images/mobile/icon/icon-supermarket.png" alt='')
						span 超市
			div.rollInfo
				h4.rollInfo-title 商城热点
				img(src='./images/mobile/icon/voiceUp.webp').rollInfo-icon
				div.rollInfo-content
					div.rollInfo-wrap
						div.rollInfo-single
							span 商城热点寻找新年货，粮油礼盒预售
							span 定金1抵6定金1抵6+满299减10
						div.rollInfo-single
							span 海鲜水果年货礼盒，预订即送进口生鲜
							span 第2件半价 领券立减50
						div.rollInfo-single
							span 美国COSTCO服饰全场5折起全场
							span 5折起+买就送10元优惠券
						div.rollInfo-single
							span 洗护年味预售，定金最高1抵9
							span 定金最高1抵9+秒百元优惠券
						div.rollInfo-single
							span 商城热点寻找新年货，粮油礼盒预售
							span 定金1抵6定金1抵6+满299减10 
			div.content
				div.slide
					div.slidewrap
						img(src='./images/mobile/index/slidemore1.webp')
						img(src='./images/mobile/index/slidemore2.webp')
						img(src='./images/mobile/index/slidemore1.webp')
						p 向左滑动查看更多
				div.floor#firstfloor
					div.floor-title
						span.title-modified
						img(src='./images/mobile/index/flooricon1.webp')
						span.title-words 必抢
						span.title-modified
					div.floor-content
						div.floor-inner
							a(href='/mdetail?page=1004').floor-sinlink
								span 今日必抢
								img(src='./images/detail/mayou/big1.jpg')
								span.price ￥189
								span.original-price ￥256
							a(href='/mdetail?page=1008').floor-sinlink
								span 聚超值
								img(src='./images/detail/band/b1.jpg')
								span.price ￥617
								span.original-price ￥1299 
							a(href='/mdetail?page=1001').floor-sinlink
								span 进口必抢
								img(src='./images/detail/beats/beatsbig1.jpg')
								span.price ￥1188
								span.original-price ￥1458
							a(href='/mdetail?page=1005').floor-sinlink
								span 型男咔
								img(src='./images/detail/dani/b1.jpg')
								span.price ￥799
								span.original-price ￥1199
						div.floor-inner
							a(href='/mdetail?page=1002').floor-sinlink
								span 爱囤货
								img(src='./images/detail/sony/b1.jpg')
								span.price ￥569
								span.original-price ￥799
							a(href='/mdetail?page=1003').floor-sinlink
								span 女神范
								img(src='./images/detail/rayban/b1.jpg')
								span.price ￥456
								span.original-price ￥788
							a(href='/mdetail?page=1007').floor-sinlink
								span 换新家
								img(src='./images/detail/hamankadun/big1.jpg')
								span.price ￥1659
								span.original-price ￥2258
							a(href='/mdetail?page=1006').floor-sinlink
								span 美食家
								img(src='./images/detail/niupar/b1.jpg')
								span.price ￥99
								span.original-price ￥198
						div.floor-inner
				div.floor#secondfloor
					div.floor-title
						span.title-modified
						img(src='./images/mobile/index/flooricon2.webp')
						span.title-words 潮流酷玩
						span.title-modified
					div.floor-content
						ul.floor-inner
							li
								a(href='javascript:;')
									img(src='./images/mobile/index/goods-digital.webp')
							li
								a(href='javascript:;')
									img(src='./images/mobile/index/goods-digital2.webp')
							li
								a(href='javascript:;')
									img(src='./images/mobile/index/goods-digital3.webp')
				div.floor#thridfloor
					div.floor-title
						span.title-modified
						img(src='./images/mobile/index/flooricon3.webp')
						span.title-words 品牌特卖
						span.title-modified
					div.floor-content
						ul.floor-inner
							li
								a(href='javascript:;')
									img(src='./images/mobile/index/goods-brand1.webp')
							li
								a(href='javascript:;')
									img(src='./images/mobile/index/goods-brand2.webp')
							li
								a(href='javascript:;')
									img(src='./images/mobile/index/goods-brand3.webp')
				div.floor#fourthfloor
					div.floor-title
						span.title-modified
						img(src='./images/mobile/index/flooricon4.webp')
						span.title-words 便捷生活
						span.title-modified
					div.floor-content
						ul.floor-inner
							li
								a(href='javascript:;')
									img(src='./images/mobile/index/goods-life4.webp')
							li
								a(href='javascript:;')
									img(src='./images/mobile/index/goods-life4.webp')
							li
								a(href='javascript:;')
									img(src='./images/mobile/index/goods-life4.webp')
				div.floor#fifthfloor
					div.floor-title
						span.title-modified
						img(src='./images/mobile/index/flooricon5.webp')
						span.title-words 国际海购
						span.title-modified
					div.floor-content
						ul.floor-inner
							li
								a(href='javascript:;')
									img(src='./images/mobile/index/goods-internation1.webp')
							li
								a(href='javascript:;')
									img(src='./images/mobile/index/goods-internation2.webp')
							li
								a(href='javascript:;')
									img(src='./images/mobile/index/goods-internation3.webp')
				div.floor#sixthfloor
					div.floor-title
						span.title-modified
						img(src='./images/mobile/index/flooricon6.webp')
						span.title-words 精选市场
						span.title-modified
					div.floor-content
						ul.floor-inner
							li
								a(href='javascript:;')
									img(src='./images/mobile/index/goods-new1.webp')
							li
								a(href='javascript:;')
									img(src='./images/mobile/index/goods-new2.webp')
							li
								a(href='javascript:;')
									img(src='./images/mobile/index/goods-new3.webp')
				div.floor#seventhfloor
					div.floor-title
						span.title-modified
						img(src='./images/mobile/index/flooricon7.webp')
						span.title-words 爱生活
						span.title-modified
					div.floor-content
						ul.floor-inner
							li
								a(href='javascript:;')
									img(src='./images/mobile/index/goods-life.webp')
							li
								a(href='javascript:;')
									img(src='./images/mobile/index/goods-life2.webp')
							li
								a(href='javascript:;')
									img(src='./images/mobile/index/goods-life3.webp')
				div.floor#eighthfloor
					div.floor-title
						span.title-modified
						img(src='./images/mobile/index/flooricon8.webp')
						span.title-words 猜你喜欢
						span.title-modified
					div.floor-content
						a(href='javascript:;').floor-content-single
							img(src='./images/mobile/index/guess1.webp' alt='what is you like goods?')
							span.title [热销]HLA/海澜之家水洗休闲裤春季热卖男装微弹修身裤子
							span.discount-price ￥100.0
						a(href='javascript:;').floor-content-single
							img(src='./images/mobile/index/guess2.webp' alt='what is you like goods?')
							span.title [热销]HLA/海澜之家水洗休闲裤春季热卖男装微弹修身裤子
							span.discount-price ￥100.0
						a(href='javascript:;').floor-content-single
							img(src='./images/mobile/index/guess3.webp' alt='what is you like goods?')
							span.title [热销]HLA/海澜之家水洗休闲裤春季热卖男装微弹修身裤子
							span.discount-price ￥100.0
						a(href='javascript:;').floor-content-single
							img(src='./images/mobile/index/guess4.webp' alt='what is you like goods?')
							span.title [热销]HLA/海澜之家水洗休闲裤春季热卖男装微弹修身裤子
							span.discount-price ￥100.0
						a(href='javascript:;').floor-content-single
							img(src='./images/mobile/index/guess5.webp' alt='what is you like goods?')
							span.title [热销]HLA/海澜之家水洗休闲裤春季热卖男装微弹修身裤子
							span.discount-price ￥100.0
						a(href='javascript:;').floor-content-single
							img(src='./images/mobile/index/guess6.webp' alt='what is you like goods?')
							span.title [热销]HLA/海澜之家水洗休闲裤春季热卖男装微弹修身裤子
							span.discount-price ￥100.0
						a(href='javascript:;').floor-content-single
							img(src='./images/mobile/index/guess7.webp' alt='what is you like goods?')
							span.title [热销]HLA/海澜之家水洗休闲裤春季热卖男装微弹修身裤子
							span.discount-price ￥100.0
						a(href='javascript:;').floor-content-single
							img(src='./images/mobile/index/guess8.webp' alt='what is you like goods?')
							span.title [热销]HLA/海澜之家水洗休闲裤春季热卖男装微弹修身裤子
							span.discount-price ￥100.0
						a(href='javascript:;').floor-content-single
							img(src='./images/mobile/index/guess9.webp' alt='what is you like goods?')
							span.title [热销]HLA/海澜之家水洗休闲裤春季热卖男装微弹修身裤子
							span.discount-price ￥100.0
						a(href='javascript:;').floor-content-single
							img(src='./images/mobile/index/guess10.webp' alt='what is you like goods?')
							span.title [热销]HLA/海澜之家水洗休闲裤春季热卖男装微弹修身裤子
							span.discount-price ￥100.0
						a(href='javascript:;').floor-content-single
							img(src='./images/mobile/index/guess11.webp' alt='what is you like goods?')
							span.title [热销]HLA/海澜之家水洗休闲裤春季热卖男装微弹修身裤子
							span.discount-price ￥100.0
						a(href='javascript:;').floor-content-single
							img(src='./images/mobile/index/guess12.webp' alt='what is you like goods?')
							span.title [热销]HLA/海澜之家水洗休闲裤春季热卖男装微弹修身裤子
							span.discount-price ￥100.0
						a(href='javascript:;').floor-content-single
							img(src='./images/mobile/index/guess13.webp' alt='what is you like goods?')
							span.title [热销]HLA/海澜之家水洗休闲裤春季热卖男装微弹修身裤子
							span.discount-price ￥100.0
						a(href='javascript:;').floor-content-single
							img(src='./images/mobile/index/guess14.webp' alt='what is you like goods?')
							span.title [热销]HLA/海澜之家水洗休闲裤春季热卖男装微弹修身裤子
							span.discount-price ￥100.0
				div.kong
			div.footer
				ul
					li
						a(href='javascript:;')
							img(src='./images/mobile/icon/footer1.png')
					li
						a(href='javascript:;')
							img(src='./images/mobile/icon/footer2.png')
					li
						a(href='javascript:;')
							img(src='./images/mobile/icon/footer3.png')
					li#mshopcart-btn
						a(href="/mshopcart")
							img(src='./images/mobile/icon/footer4.png')
					li
						a(href='javascript:;')
							img(src='./images/mobile/icon/footer5.png')

		script(src='./bower_components/jquery/dist/jquery.min.js' type='text/javascript')
		script(src='./script/banner.js')
		script(src='./script/verticalRoll.js')
		script(src='./script/mindex.js' type='text/javascript')
//必抢今日必抢聚超值进口必抢型男咔￥爱囤货女神范换新家美食家 热门行业品牌旗舰