doctype
html
	head
		title #{title}
		link(rel='stylesheet' href='./style/mobilepublic.css')
		link(rel='stylesheet' href='./style/msearch.css')
		link(href='./bower_components/bootstrap/dist/css/bootstrap.css' rel='stylesheet' type='text/css')
		meta(http-equiv="X-UA-Compatible" content="IE=edge, chrome=1")
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1')
		meta(name='aplus' content='1')
		meta(name='apple-mobile-web-app-title' content='商城')
		meta(name='apple-mobile-web-app-capable' content='yes')
		meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
		meta(name='format-detection' content='telephone=no,address=no')
	body
		div.header
			a.back
				span.glyphicon.glyphicon-chevron-left
			span.header-input-group
				span.headInGroup-magnifer.glyphicon.glyphicon-search
				input(type="text" value="mobile").headInGroupInput
				span.headInGroupBtn 搜索 　
		div.secondHeader
			ul.keywordList
				li.keywordSelected　综合
				li　销量
				li　价格
				li　店铺
			span.showModeBtn
				span.glyphicon.glyphicon-th-large
		div.content
			div.contentSin
				div.imgWrap
					img(src="./images/mobile/detail/nike-slide.webp")
				div.info
					span.mainTitle 耐克科比四代篮球鞋克科比四代篮球鞋
					span.subTitle 该款月销量1077笔
					span.anotherInfo
						span.infoprice ￥499
						span.infofee 免运费