doctype
html
	head
		title #{title}
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width')
		script(src='/bundle.js')
		link(href='./style/publicStyle.css' rel='stylesheet' type='text/css')
		link(href='./bower_components/bootstrap/dist/css/bootstrap.css' rel='stylesheet' type='text/css')
	body
		include ../includes/purehead.jade
		div i am register
		include ../includes/footer.jade