doctype
html
	head
		title #{title}
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width')
		script(src='/bundle.js')
		link(href='./style/publicStyle.css' rel='stylesheet' type='text/css')
		link(href='./bower_components/bootstrap/dist/css/bootstrap.css' rel='stylesheet' type='text/css')
		link(href='./style/search.css' rel='stylesheet' type='text/css')
	body
		include ../includes/sidebar.jade
		include ../includes/header.jade
		include ../includes/nav.jade
		div.search-main
			div.search-breadnav
				span 全部结果
				span >
				span “运动鞋 ”
				span 商品共
				span 3506
				span 个
			div.search-conditions
				div.search-conditons-content#search-conditions-brand
					h4.search-condition-subtitle 品牌：
					ul.search-condition-list
						li 
							a(href='javascript:;') NIKE 耐克
						li 
							a(href='javascript:;') adidas 阿迪达斯
						li 
							a(href='javascript:;') new balance
						li 
							a(href='javascript:;') asics 亚瑟士
						li 
							a(href='javascript:;') NIKE KIDS 耐克
						li 
							a(href='javascript:;') DCSHOECOUSAPUMA
						li 
							a(href='javascript:;') 彪马
						li 
							a(href='javascript:;') SKECHERS 斯凯奇
						li 
							a(href='javascript:;') Vans 范斯
						li 
							a(href='javascript:;') paperplanes 纸飞机
						li 
							a(href='javascript:;') Onitsuka Tiger 鬼冢虎
						li 
							a(href='javascript:;') BOBDOG 巴布豆
						li 
							a(href='javascript:;') Disney 迪士尼
						li 
							a(href='javascript:;') CONVERSE 匡威
						li 
							a(href='javascript:;') Jeep XP 吉普户外
					span.search-conditon-btn  展开
						span.glyphicon.glyphicon-chevron-down
				div.search-conditons-content
					h4.search-condition-subtitle 国家/地区：
					ul.search-condition-list
						li 
							a(href='javascript:;') 美国
						li 
							a(href='javascript:;') 德国
						li 
							a(href='javascript:;') 日本
						li 
							a(href='javascript:;') 意大利
						li 
							a(href='javascript:;') 英国
						li 
							a(href='javascript:;') 韩国
						li 
							a(href='javascript:;') 中国
						li 
							a(href='javascript:;') 巴西
						li 
							a(href='javascript:;') 法国
						li 
							a(href='javascript:;') 中国香港
						li 
							a(href='javascript:;') 西班牙
						li 
							a(href='javascript:;') 秘鲁
						li 
							a(href='javascript:;') 丹麦
						li 
							a(href='javascript:;') 瑞士
						li 
							a(href='javascript:;') 澳大利亚
					span.search-conditon-btn
				div.search-conditons-content 
					h4.search-condition-subtitle 分类：
					ul.search-condition-list
						li 
							a(href='javascript:;') 跑步鞋
						li 
							a(href='javascript:;') 女式板鞋/休闲鞋
						li 
							a(href='javascript:;') 休闲鞋
						li 
							a(href='javascript:;') 女士帆布鞋/运动鞋
						li 
							a(href='javascript:;') 男士帆布鞋/运动鞋
						li 
							a(href='javascript:;') 运动鞋
						li 
							a(href='javascript:;') 中性运动鞋
					span.search-conditon-btn
			div.search-conditions-rate
				ul#search-condition-list
					li.search-conditions-selc 人气
						span.glyphicon.glyphicon-arrow-down
					li 销量
						span
					li 新品
						span
					li 价格
						span
				input(type='text' placeholder="¥")
				span -
				input(type='text' placeholder="¥")
				div.search-styletoggle-btn
					span.search-styleBtn-big
						i.glyphicon.glyphicon-th-large
						a 大图
					span.search-styleBtn-small
						i.glyphicon.glyphicon-th
						a 小图
			div.search-goodsList
				div.search-singlegood
					a(href='javascript:;').search-imgwrap
						img(src='./images/search/nike1.jpg' alt='').search-imgbig
						img(src='./images/search/nike1.jpg' alt='黑色').search-imgsmall
						img(src='./images/search/nike1blue.jpg' alt='蓝色').search-imgsmall
						img(src='./images/search/nike1red.jpg' alt='红色').search-imgsmall
					div.search-singlegood-price
						span.search-singlegood-nowprice ¥359
						span.search-singlegood-discount 7.2折
						span.search-singlegood-oldprice ¥499
					h4.search-singlegood-title NIKE 耐克TANJUN SE 网面泼墨底男鞋跑步鞋休闲鞋 844887
					div.search-singlegood-activity
						span.search-singlegood-actname 特卖
						span.search-singlegood-actcontent 今日特卖，限时购买省40元
					div.search-singlegood-monthsales
						span.search-singlegoodMonthsales-title 月成交
						span.search-singlegoodMonthsales-con 1051笔
						span.search-singlegoodMonthevalus-title 评价
						span.search-singlegoodMonthevalus-con 2593
				div.search-singlegood
					a(href='javascript:;').search-imgwrap
						img(src='./images/search/nike2.jpg' alt='').search-imgbig
						img(src='./images/search/nike2.jpg' alt='黑色').search-imgsmall
						img(src='./images/search/nike2black.jpg' alt='蓝色').search-imgsmall
					div.search-singlegood-price
						span.search-singlegood-nowprice ¥349
						span.search-singlegood-discount 7.0折
						span.search-singlegood-oldprice ¥499
					h4.search-singlegood-title NIKE 耐克TANJUN SE 网面泼墨底男鞋跑步鞋休闲鞋 844887
					div.search-singlegood-activity
						span.search-singlegood-actname 特卖
						span.search-singlegood-actcontent 今日特卖，限时购买省40元
					div.search-singlegood-monthsales
						span.search-singlegoodMonthsales-title 月成交
						span.search-singlegoodMonthsales-con 1051笔
						span.search-singlegoodMonthevalus-title 评价
						span.search-singlegoodMonthevalus-con 2593
				div.search-singlegood
					a(href='javascript:;').search-imgwrap
						img(src='./images/search/nike3.jpg' alt='').search-imgbig
						img(src='./images/search/nike3.jpg' alt='黑色').search-imgsmall
						img(src='./images/search/nike3blue.jpg' alt='蓝色').search-imgsmall
					div.search-singlegood-price
						span.search-singlegood-nowprice ¥449
						span.search-singlegood-discount 6.5折
						span.search-singlegood-oldprice ¥699
					h4.search-singlegood-title NIKE 耐克Air Zoom Pegasus 92男子气垫透气跑步鞋休闲鞋844654-003
					div.search-singlegood-activity
						span.search-singlegood-actname 直降
						span.search-singlegood-actcontent 立省150元
					div.search-singlegood-monthsales
						span.search-singlegoodMonthsales-title 月成交
						span.search-singlegoodMonthsales-con 1051笔
						span.search-singlegoodMonthevalus-title 评价
						span.search-singlegoodMonthevalus-con 2593
				div.search-singlegood
					a(href='javascript:;').search-imgwrap
						img(src='./images/search/nike4.jpg' alt='').search-imgbig
						img(src='./images/search/nike4.jpg' alt='黑色').search-imgsmall
					div.search-singlegood-price
						span.search-singlegood-nowprice ¥529
						span.search-singlegood-discount 6.9折
						span.search-singlegood-oldprice ¥799
					h4.search-singlegood-title  耐克Air Max 90 ULTRA GS女子彩虹配色气垫休闲鞋跑鞋844600-001
					div.search-singlegood-activity
						span.search-singlegood-actname 直降
						span.search-singlegood-actcontent 立省150元
					div.search-singlegood-monthsales
						span.search-singlegoodMonthsales-title 月成交
						span.search-singlegoodMonthsales-con 1051笔
						span.search-singlegoodMonthevalus-title 评价
						span.search-singlegoodMonthevalus-con 2593
				div.search-singlegood
					a(href='javascript:;').search-imgwrap
						img(src='./images/search/adidas1.jpg' alt='').search-imgbig
						img(src='./images/search/adidas1.jpg' alt='黑色').search-imgsmall
					div.search-singlegood-price
						span.search-singlegood-nowprice ¥529
						span.search-singlegood-discount 6.1折
						span.search-singlegood-oldprice ¥829
					h4.search-singlegood-title  阿迪达斯 男子16秋季阿尔法小椰子运动跑步鞋 B42746
					div.search-singlegood-activity
						span.search-singlegood-actname 直降
						span.search-singlegood-actcontent 立省150元
					div.search-singlegood-monthsales
						span.search-singlegoodMonthsales-title 月成交
						span.search-singlegoodMonthsales-con 1051笔
						span.search-singlegoodMonthevalus-title 评价
						span.search-singlegoodMonthevalus-con 2593
				div.search-singlegood
					a(href='javascript:;').search-imgwrap
						img(src='./images/search/adidas2.jpg' alt='').search-imgbig
						img(src='./images/search/adidas2.jpg' alt='黑色').search-imgsmall
					div.search-singlegood-price
						span.search-singlegood-nowprice ¥279
						span.search-singlegood-discount 5.6折
						span.search-singlegood-oldprice ¥499
					h4.search-singlegood-title  Adidas 阿迪达斯 2016新品防滑耐磨运动鞋轻便透气跑步鞋 AF6690
					div.search-singlegood-activity
						span.search-singlegood-actname 直降
						span.search-singlegood-actcontent 立省150元
					div.search-singlegood-monthsales
						span.search-singlegoodMonthsales-title 月成交
						span.search-singlegoodMonthsales-con 1051笔
						span.search-singlegoodMonthevalus-title 评价
						span.search-singlegoodMonthevalus-con 2593
				div.search-singlegood
					a(href='javascript:;').search-imgwrap
						img(src='./images/search/newbalance1.jpg' alt='').search-imgbig
						img(src='./images/search/newbalance1.jpg' alt='黑色').search-imgsmall
					div.search-singlegood-price
						span.search-singlegood-nowprice ¥329
						span.search-singlegood-discount 5.4折
						span.search-singlegood-oldprice ¥619
					h4.search-singlegood-title【欧码】new balance 996 女士运动鞋 浅灰色
					div.search-singlegood-activity
						span.search-singlegood-actname 直降
						span.search-singlegood-actcontent 立省150元
					div.search-singlegood-monthsales
						span.search-singlegoodMonthsales-title 月成交
						span.search-singlegoodMonthsales-con 1051笔
						span.search-singlegoodMonthevalus-title 评价
						span.search-singlegoodMonthevalus-con 2593
				div.search-singlegood
					a(href='javascript:;').search-imgwrap
						img(src='./images/search/newbalance2.jpg' alt='').search-imgbig
						img(src='./images/search/newbalance2.jpg' alt='黑色').search-imgsmall
						img(src='./images/search/newbalance2gray.jpg' alt='黑色').search-imgsmall
						img(src='./images/search/newbalance2red.jpg' alt='黑色').search-imgsmall
						img(src='./images/search/newbalance2red2.jpg' alt='黑色').search-imgsmall
					div.search-singlegood-price
						span.search-singlegood-nowprice ¥299
						span.search-singlegood-discount 4.9折
						span.search-singlegood-oldprice ¥619
					h4.search-singlegood-title New Balance NB 996系列 翻毛女鞋 复古运动慢跑鞋
					div.search-singlegood-activity
						span.search-singlegood-actname 直降
						span.search-singlegood-actcontent 立省150元
					div.search-singlegood-monthsales
						span.search-singlegoodMonthsales-title 月成交
						span.search-singlegoodMonthsales-con 1051笔
						span.search-singlegoodMonthevalus-title 评价
						span.search-singlegoodMonthevalus-con 2593
				div.search-singlegood
					a(href='javascript:;').search-imgwrap
						img(src='./images/search/skechers1.jpg' alt='').search-imgbig
						img(src='./images/search/skechers1.jpg' alt='黑色').search-imgsmall
					div.search-singlegood-price
						span.search-singlegood-nowprice ¥439
						span.search-singlegood-discount 7.4折
						span.search-singlegood-oldprice ¥699
					h4.search-singlegood-title Skechers斯凯奇 2016年复古男女鞋 厚底百搭休闲鞋 66666042
					div.search-singlegood-activity
						span.search-singlegood-actname 直降
						span.search-singlegood-actcontent 立省150元
					div.search-singlegood-monthsales
						span.search-singlegoodMonthsales-title 月成交
						span.search-singlegoodMonthsales-con 1051笔
						span.search-singlegoodMonthevalus-title 评价
						span.search-singlegoodMonthevalus-con 2593
				div.search-singlegood
					a(href='javascript:;').search-imgwrap
						img(src='./images/search/asics1.jpg' alt='').search-imgbig
						img(src='./images/search/asics1.jpg' alt='黑色').search-imgsmall
					div.search-singlegood-price
						span.search-singlegood-nowprice ¥439
						span.search-singlegood-discount 7.4折
						span.search-singlegood-oldprice ¥699
					h4.search-singlegood-title asics 亚瑟士 男士复古跑鞋 橘橙色
					div.search-singlegood-activity
						span.search-singlegood-actname 直降
						span.search-singlegood-actcontent 立省150元
					div.search-singlegood-monthsales
						span.search-singlegoodMonthsales-title 月成交
						span.search-singlegoodMonthsales-con 1051笔
						span.search-singlegoodMonthevalus-title 评价
						span.search-singlegoodMonthevalus-con 2593
				div.search-singlegood
					a(href='javascript:;').search-imgwrap
						img(src='./images/search/asics2.jpg' alt='').search-imgbig
						img(src='./images/search/asics2.jpg' alt='黑色').search-imgsmall
					div.search-singlegood-price
						span.search-singlegood-nowprice ¥439
						span.search-singlegood-discount 7.4折
						span.search-singlegood-oldprice ¥699
					h4.search-singlegood-title asics 亚瑟士 GEL­KAYANO 22男士运动跑鞋 灰/银/黄绿色
					div.search-singlegood-activity
						span.search-singlegood-actname 直降
						span.search-singlegood-actcontent 立省150元
					div.search-singlegood-monthsales
						span.search-singlegoodMonthsales-title 月成交
						span.search-singlegoodMonthsales-con 1051笔
						span.search-singlegoodMonthevalus-title 评价
						span.search-singlegoodMonthevalus-con 2593
				div.search-singlegood
					a(href='javascript:;').search-imgwrap
						img(src='./images/search/nike1.jpg' alt='').search-imgbig
						img(src='./images/search/nike1.jpg' alt='黑色').search-imgsmall
						img(src='./images/search/nike1blue.jpg' alt='蓝色').search-imgsmall
						img(src='./images/search/nike1red.jpg' alt='红色').search-imgsmall
					div.search-singlegood-price
						span.search-singlegood-nowprice ¥359
						span.search-singlegood-discount 7.2折
						span.search-singlegood-oldprice ¥499
					h4.search-singlegood-title NIKE 耐克TANJUN SE 网面泼墨底男鞋跑步鞋休闲鞋 844887
					div.search-singlegood-activity
						span.search-singlegood-actname 特卖
						span.search-singlegood-actcontent 今日特卖，限时购买省40元
					div.search-singlegood-monthsales
						span.search-singlegoodMonthsales-title 月成交
						span.search-singlegoodMonthsales-con 1051笔
						span.search-singlegoodMonthevalus-title 评价
						span.search-singlegoodMonthevalus-con 2593
				div.search-singlegood
					a(href='javascript:;').search-imgwrap
						img(src='./images/search/nike2.jpg' alt='').search-imgbig
						img(src='./images/search/nike2.jpg' alt='黑色').search-imgsmall
						img(src='./images/search/nike2black.jpg' alt='蓝色').search-imgsmall
					div.search-singlegood-price
						span.search-singlegood-nowprice ¥349
						span.search-singlegood-discount 7.0折
						span.search-singlegood-oldprice ¥499
					h4.search-singlegood-title NIKE 耐克TANJUN SE 网面泼墨底男鞋跑步鞋休闲鞋 844887
					div.search-singlegood-activity
						span.search-singlegood-actname 特卖
						span.search-singlegood-actcontent 今日特卖，限时购买省40元
					div.search-singlegood-monthsales
						span.search-singlegoodMonthsales-title 月成交
						span.search-singlegoodMonthsales-con 1051笔
						span.search-singlegoodMonthevalus-title 评价
						span.search-singlegoodMonthevalus-con 2593
				div.search-singlegood
					a(href='javascript:;').search-imgwrap
						img(src='./images/search/nike3.jpg' alt='').search-imgbig
						img(src='./images/search/nike3.jpg' alt='黑色').search-imgsmall
						img(src='./images/search/nike3blue.jpg' alt='蓝色').search-imgsmall
					div.search-singlegood-price
						span.search-singlegood-nowprice ¥449
						span.search-singlegood-discount 6.5折
						span.search-singlegood-oldprice ¥699
					h4.search-singlegood-title NIKE 耐克Air Zoom Pegasus 92男子气垫透气跑步鞋休闲鞋844654-003
					div.search-singlegood-activity
						span.search-singlegood-actname 直降
						span.search-singlegood-actcontent 立省150元
					div.search-singlegood-monthsales
						span.search-singlegoodMonthsales-title 月成交
						span.search-singlegoodMonthsales-con 1051笔
						span.search-singlegoodMonthevalus-title 评价
						span.search-singlegoodMonthevalus-con 2593
				div.search-singlegood
					a(href='javascript:;').search-imgwrap
						img(src='./images/search/nike4.jpg' alt='').search-imgbig
						img(src='./images/search/nike4.jpg' alt='黑色').search-imgsmall
					div.search-singlegood-price
						span.search-singlegood-nowprice ¥529
						span.search-singlegood-discount 6.9折
						span.search-singlegood-oldprice ¥799
					h4.search-singlegood-title  耐克Air Max 90 ULTRA GS女子彩虹配色气垫休闲鞋跑鞋844600-001
					div.search-singlegood-activity
						span.search-singlegood-actname 直降
						span.search-singlegood-actcontent 立省150元
					div.search-singlegood-monthsales
						span.search-singlegoodMonthsales-title 月成交
						span.search-singlegoodMonthsales-con 1051笔
						span.search-singlegoodMonthevalus-title 评价
						span.search-singlegoodMonthevalus-con 2593
				div.search-singlegood
					a(href='javascript:;').search-imgwrap
						img(src='./images/search/adidas1.jpg' alt='').search-imgbig
						img(src='./images/search/adidas1.jpg' alt='黑色').search-imgsmall
					div.search-singlegood-price
						span.search-singlegood-nowprice ¥529
						span.search-singlegood-discount 6.1折
						span.search-singlegood-oldprice ¥829
					h4.search-singlegood-title  阿迪达斯 男子16秋季阿尔法小椰子运动跑步鞋 B42746
					div.search-singlegood-activity
						span.search-singlegood-actname 直降
						span.search-singlegood-actcontent 立省150元
					div.search-singlegood-monthsales
						span.search-singlegoodMonthsales-title 月成交
						span.search-singlegoodMonthsales-con 1051笔
						span.search-singlegoodMonthevalus-title 评价
						span.search-singlegoodMonthevalus-con 2593
				div.search-singlegood
					a(href='javascript:;').search-imgwrap
						img(src='./images/search/adidas2.jpg' alt='').search-imgbig
						img(src='./images/search/adidas2.jpg' alt='黑色').search-imgsmall
					div.search-singlegood-price
						span.search-singlegood-nowprice ¥279
						span.search-singlegood-discount 5.6折
						span.search-singlegood-oldprice ¥499
					h4.search-singlegood-title  Adidas 阿迪达斯 2016新品防滑耐磨运动鞋轻便透气跑步鞋 AF6690
					div.search-singlegood-activity
						span.search-singlegood-actname 直降
						span.search-singlegood-actcontent 立省150元
					div.search-singlegood-monthsales
						span.search-singlegoodMonthsales-title 月成交
						span.search-singlegoodMonthsales-con 1051笔
						span.search-singlegoodMonthevalus-title 评价
						span.search-singlegoodMonthevalus-con 2593
				div.search-singlegood
					a(href='javascript:;').search-imgwrap
						img(src='./images/search/newbalance1.jpg' alt='').search-imgbig
						img(src='./images/search/newbalance1.jpg' alt='黑色').search-imgsmall
					div.search-singlegood-price
						span.search-singlegood-nowprice ¥329
						span.search-singlegood-discount 5.4折
						span.search-singlegood-oldprice ¥619
					h4.search-singlegood-title【欧码】new balance 996 女士运动鞋 浅灰色
					div.search-singlegood-activity
						span.search-singlegood-actname 直降
						span.search-singlegood-actcontent 立省150元
					div.search-singlegood-monthsales
						span.search-singlegoodMonthsales-title 月成交
						span.search-singlegoodMonthsales-con 1051笔
						span.search-singlegoodMonthevalus-title 评价
						span.search-singlegoodMonthevalus-con 2593
				div.search-singlegood
					a(href='javascript:;').search-imgwrap
						img(src='./images/search/newbalance2.jpg' alt='').search-imgbig
						img(src='./images/search/newbalance2.jpg' alt='黑色').search-imgsmall
						img(src='./images/search/newbalance2gray.jpg' alt='黑色').search-imgsmall
						img(src='./images/search/newbalance2red.jpg' alt='黑色').search-imgsmall
						img(src='./images/search/newbalance2red2.jpg' alt='黑色').search-imgsmall
					div.search-singlegood-price
						span.search-singlegood-nowprice ¥299
						span.search-singlegood-discount 4.9折
						span.search-singlegood-oldprice ¥619
					h4.search-singlegood-title New Balance NB 996系列 翻毛女鞋 复古运动慢跑鞋
					div.search-singlegood-activity
						span.search-singlegood-actname 直降
						span.search-singlegood-actcontent 立省150元
					div.search-singlegood-monthsales
						span.search-singlegoodMonthsales-title 月成交
						span.search-singlegoodMonthsales-con 1051笔
						span.search-singlegoodMonthevalus-title 评价
						span.search-singlegoodMonthevalus-con 2593
				div.search-singlegood
					a(href='javascript:;').search-imgwrap
						img(src='./images/search/skechers1.jpg' alt='').search-imgbig
						img(src='./images/search/skechers1.jpg' alt='黑色').search-imgsmall
					div.search-singlegood-price
						span.search-singlegood-nowprice ¥439
						span.search-singlegood-discount 7.4折
						span.search-singlegood-oldprice ¥699
					h4.search-singlegood-title Skechers斯凯奇 2016年复古男女鞋 厚底百搭休闲鞋 66666042
					div.search-singlegood-activity
						span.search-singlegood-actname 直降
						span.search-singlegood-actcontent 立省150元
					div.search-singlegood-monthsales
						span.search-singlegoodMonthsales-title 月成交
						span.search-singlegoodMonthsales-con 1051笔
						span.search-singlegoodMonthevalus-title 评价
						span.search-singlegoodMonthevalus-con 2593
				div.search-singlegood
					a(href='javascript:;').search-imgwrap
						img(src='./images/search/asics1.jpg' alt='').search-imgbig
						img(src='./images/search/asics1.jpg' alt='黑色').search-imgsmall
					div.search-singlegood-price
						span.search-singlegood-nowprice ¥439
						span.search-singlegood-discount 7.4折
						span.search-singlegood-oldprice ¥699
					h4.search-singlegood-title asics 亚瑟士 男士复古跑鞋 橘橙色
					div.search-singlegood-activity
						span.search-singlegood-actname 直降
						span.search-singlegood-actcontent 立省150元
					div.search-singlegood-monthsales
						span.search-singlegoodMonthsales-title 月成交
						span.search-singlegoodMonthsales-con 1051笔
						span.search-singlegoodMonthevalus-title 评价
						span.search-singlegoodMonthevalus-con 2593
				div.search-singlegood
					a(href='javascript:;').search-imgwrap
						img(src='./images/search/asics2.jpg' alt='').search-imgbig
						img(src='./images/search/asics2.jpg' alt='黑色').search-imgsmall
					div.search-singlegood-price
						span.search-singlegood-nowprice ¥439
						span.search-singlegood-discount 7.4折
						span.search-singlegood-oldprice ¥699
					h4.search-singlegood-title asics 亚瑟士 GEL­KAYANO 22男士运动跑鞋 灰/银/黄绿色
					div.search-singlegood-activity
						span.search-singlegood-actname 直降
						span.search-singlegood-actcontent 立省150元
					div.search-singlegood-monthsales
						span.search-singlegoodMonthsales-title 月成交
						span.search-singlegoodMonthsales-con 1051笔
						span.search-singlegoodMonthevalus-title 评价
						span.search-singlegoodMonthevalus-con 2593
				div.search-singlegood
					a(href='javascript:;').search-imgwrap
						img(src='./images/search/nike1.jpg' alt='').search-imgbig
						img(src='./images/search/nike1.jpg' alt='黑色').search-imgsmall
						img(src='./images/search/nike1blue.jpg' alt='蓝色').search-imgsmall
						img(src='./images/search/nike1red.jpg' alt='红色').search-imgsmall
					div.search-singlegood-price
						span.search-singlegood-nowprice ¥359
						span.search-singlegood-discount 7.2折
						span.search-singlegood-oldprice ¥499
					h4.search-singlegood-title NIKE 耐克TANJUN SE 网面泼墨底男鞋跑步鞋休闲鞋 844887
					div.search-singlegood-activity
						span.search-singlegood-actname 特卖
						span.search-singlegood-actcontent 今日特卖，限时购买省40元
					div.search-singlegood-monthsales
						span.search-singlegoodMonthsales-title 月成交
						span.search-singlegoodMonthsales-con 1051笔
						span.search-singlegoodMonthevalus-title 评价
						span.search-singlegoodMonthevalus-con 2593
				div.search-singlegood
					a(href='javascript:;').search-imgwrap
						img(src='./images/search/nike2.jpg' alt='').search-imgbig
						img(src='./images/search/nike2.jpg' alt='黑色').search-imgsmall
						img(src='./images/search/nike2black.jpg' alt='蓝色').search-imgsmall
					div.search-singlegood-price
						span.search-singlegood-nowprice ¥349
						span.search-singlegood-discount 7.0折
						span.search-singlegood-oldprice ¥499
					h4.search-singlegood-title NIKE 耐克TANJUN SE 网面泼墨底男鞋跑步鞋休闲鞋 844887
					div.search-singlegood-activity
						span.search-singlegood-actname 特卖
						span.search-singlegood-actcontent 今日特卖，限时购买省40元
					div.search-singlegood-monthsales
						span.search-singlegoodMonthsales-title 月成交
						span.search-singlegoodMonthsales-con 1051笔
						span.search-singlegoodMonthevalus-title 评价
						span.search-singlegoodMonthevalus-con 2593
				div.search-singlegood
					a(href='javascript:;').search-imgwrap
						img(src='./images/search/nike3.jpg' alt='').search-imgbig
						img(src='./images/search/nike3.jpg' alt='黑色').search-imgsmall
						img(src='./images/search/nike3blue.jpg' alt='蓝色').search-imgsmall
					div.search-singlegood-price
						span.search-singlegood-nowprice ¥449
						span.search-singlegood-discount 6.5折
						span.search-singlegood-oldprice ¥699
					h4.search-singlegood-title NIKE 耐克Air Zoom Pegasus 92男子气垫透气跑步鞋休闲鞋844654-003
					div.search-singlegood-activity
						span.search-singlegood-actname 直降
						span.search-singlegood-actcontent 立省150元
					div.search-singlegood-monthsales
						span.search-singlegoodMonthsales-title 月成交
						span.search-singlegoodMonthsales-con 1051笔
						span.search-singlegoodMonthevalus-title 评价
						span.search-singlegoodMonthevalus-con 2593
				div.search-singlegood
					a(href='javascript:;').search-imgwrap
						img(src='./images/search/nike4.jpg' alt='').search-imgbig
						img(src='./images/search/nike4.jpg' alt='黑色').search-imgsmall
					div.search-singlegood-price
						span.search-singlegood-nowprice ¥529
						span.search-singlegood-discount 6.9折
						span.search-singlegood-oldprice ¥799
					h4.search-singlegood-title  耐克Air Max 90 ULTRA GS女子彩虹配色气垫休闲鞋跑鞋844600-001
					div.search-singlegood-activity
						span.search-singlegood-actname 直降
						span.search-singlegood-actcontent 立省150元
					div.search-singlegood-monthsales
						span.search-singlegoodMonthsales-title 月成交
						span.search-singlegoodMonthsales-con 1051笔
						span.search-singlegoodMonthevalus-title 评价
						span.search-singlegoodMonthevalus-con 2593
				div.search-singlegood
					a(href='javascript:;').search-imgwrap
						img(src='./images/search/adidas1.jpg' alt='').search-imgbig
						img(src='./images/search/adidas1.jpg' alt='黑色').search-imgsmall
					div.search-singlegood-price
						span.search-singlegood-nowprice ¥529
						span.search-singlegood-discount 6.1折
						span.search-singlegood-oldprice ¥829
					h4.search-singlegood-title  阿迪达斯 男子16秋季阿尔法小椰子运动跑步鞋 B42746
					div.search-singlegood-activity
						span.search-singlegood-actname 直降
						span.search-singlegood-actcontent 立省150元
					div.search-singlegood-monthsales
						span.search-singlegoodMonthsales-title 月成交
						span.search-singlegoodMonthsales-con 1051笔
						span.search-singlegoodMonthevalus-title 评价
						span.search-singlegoodMonthevalus-con 2593
				div.search-singlegood
					a(href='javascript:;').search-imgwrap
						img(src='./images/search/adidas2.jpg' alt='').search-imgbig
						img(src='./images/search/adidas2.jpg' alt='黑色').search-imgsmall
					div.search-singlegood-price
						span.search-singlegood-nowprice ¥279
						span.search-singlegood-discount 5.6折
						span.search-singlegood-oldprice ¥499
					h4.search-singlegood-title  Adidas 阿迪达斯 2016新品防滑耐磨运动鞋轻便透气跑步鞋 AF6690
					div.search-singlegood-activity
						span.search-singlegood-actname 直降
						span.search-singlegood-actcontent 立省150元
					div.search-singlegood-monthsales
						span.search-singlegoodMonthsales-title 月成交
						span.search-singlegoodMonthsales-con 1051笔
						span.search-singlegoodMonthevalus-title 评价
						span.search-singlegoodMonthevalus-con 2593
				div.search-singlegood
					a(href='javascript:;').search-imgwrap
						img(src='./images/search/newbalance1.jpg' alt='').search-imgbig
						img(src='./images/search/newbalance1.jpg' alt='黑色').search-imgsmall
					div.search-singlegood-price
						span.search-singlegood-nowprice ¥329
						span.search-singlegood-discount 5.4折
						span.search-singlegood-oldprice ¥619
					h4.search-singlegood-title【欧码】new balance 996 女士运动鞋 浅灰色
					div.search-singlegood-activity
						span.search-singlegood-actname 直降
						span.search-singlegood-actcontent 立省150元
					div.search-singlegood-monthsales
						span.search-singlegoodMonthsales-title 月成交
						span.search-singlegoodMonthsales-con 1051笔
						span.search-singlegoodMonthevalus-title 评价
						span.search-singlegoodMonthevalus-con 2593
				div.search-singlegood
					a(href='javascript:;').search-imgwrap
						img(src='./images/search/newbalance2.jpg' alt='').search-imgbig
						img(src='./images/search/newbalance2.jpg' alt='黑色').search-imgsmall
						img(src='./images/search/newbalance2gray.jpg' alt='黑色').search-imgsmall
						img(src='./images/search/newbalance2red.jpg' alt='黑色').search-imgsmall
						img(src='./images/search/newbalance2red2.jpg' alt='黑色').search-imgsmall
					div.search-singlegood-price
						span.search-singlegood-nowprice ¥299
						span.search-singlegood-discount 4.9折
						span.search-singlegood-oldprice ¥619
					h4.search-singlegood-title New Balance NB 996系列 翻毛女鞋 复古运动慢跑鞋
					div.search-singlegood-activity
						span.search-singlegood-actname 直降
						span.search-singlegood-actcontent 立省150元
					div.search-singlegood-monthsales
						span.search-singlegoodMonthsales-title 月成交
						span.search-singlegoodMonthsales-con 1051笔
						span.search-singlegoodMonthevalus-title 评价
						span.search-singlegoodMonthevalus-con 2593
				div.search-singlegood
					a(href='javascript:;').search-imgwrap
						img(src='./images/search/skechers1.jpg' alt='').search-imgbig
						img(src='./images/search/skechers1.jpg' alt='黑色').search-imgsmall
					div.search-singlegood-price
						span.search-singlegood-nowprice ¥439
						span.search-singlegood-discount 7.4折
						span.search-singlegood-oldprice ¥699
					h4.search-singlegood-title Skechers斯凯奇 2016年复古男女鞋 厚底百搭休闲鞋 66666042
					div.search-singlegood-activity
						span.search-singlegood-actname 直降
						span.search-singlegood-actcontent 立省150元
					div.search-singlegood-monthsales
						span.search-singlegoodMonthsales-title 月成交
						span.search-singlegoodMonthsales-con 1051笔
						span.search-singlegoodMonthevalus-title 评价
						span.search-singlegoodMonthevalus-con 2593
				div.search-singlegood
					a(href='javascript:;').search-imgwrap
						img(src='./images/search/asics1.jpg' alt='').search-imgbig
						img(src='./images/search/asics1.jpg' alt='黑色').search-imgsmall
					div.search-singlegood-price
						span.search-singlegood-nowprice ¥439
						span.search-singlegood-discount 7.4折
						span.search-singlegood-oldprice ¥699
					h4.search-singlegood-title asics 亚瑟士 男士复古跑鞋 橘橙色
					div.search-singlegood-activity
						span.search-singlegood-actname 直降
						span.search-singlegood-actcontent 立省150元
					div.search-singlegood-monthsales
						span.search-singlegoodMonthsales-title 月成交
						span.search-singlegoodMonthsales-con 1051笔
						span.search-singlegoodMonthevalus-title 评价
						span.search-singlegoodMonthevalus-con 2593
				div.search-singlegood
					a(href='javascript:;').search-imgwrap
						img(src='./images/search/asics2.jpg' alt='').search-imgbig
						img(src='./images/search/asics2.jpg' alt='黑色').search-imgsmall
					div.search-singlegood-price
						span.search-singlegood-nowprice ¥439
						span.search-singlegood-discount 7.4折
						span.search-singlegood-oldprice ¥699
					h4.search-singlegood-title asics 亚瑟士 GEL­KAYANO 22男士运动跑鞋 灰/银/黄绿色
					div.search-singlegood-activity
						span.search-singlegood-actname 直降
						span.search-singlegood-actcontent 立省150元
					div.search-singlegood-monthsales
						span.search-singlegoodMonthsales-title 月成交
						span.search-singlegoodMonthsales-con 1051笔
						span.search-singlegoodMonthevalus-title 评价
						span.search-singlegoodMonthevalus-con 2593
				div.search-singlegood
					a(href='javascript:;').search-imgwrap
						img(src='./images/search/nike1.jpg' alt='').search-imgbig
						img(src='./images/search/nike1.jpg' alt='黑色').search-imgsmall
						img(src='./images/search/nike1blue.jpg' alt='蓝色').search-imgsmall
						img(src='./images/search/nike1red.jpg' alt='红色').search-imgsmall
					div.search-singlegood-price
						span.search-singlegood-nowprice ¥359
						span.search-singlegood-discount 7.2折
						span.search-singlegood-oldprice ¥499
					h4.search-singlegood-title NIKE 耐克TANJUN SE 网面泼墨底男鞋跑步鞋休闲鞋 844887
					div.search-singlegood-activity
						span.search-singlegood-actname 特卖
						span.search-singlegood-actcontent 今日特卖，限时购买省40元
					div.search-singlegood-monthsales
						span.search-singlegoodMonthsales-title 月成交
						span.search-singlegoodMonthsales-con 1051笔
						span.search-singlegoodMonthevalus-title 评价
						span.search-singlegoodMonthevalus-con 2593
				div.search-singlegood
					a(href='javascript:;').search-imgwrap
						img(src='./images/search/nike2.jpg' alt='').search-imgbig
						img(src='./images/search/nike2.jpg' alt='黑色').search-imgsmall
						img(src='./images/search/nike2black.jpg' alt='蓝色').search-imgsmall
					div.search-singlegood-price
						span.search-singlegood-nowprice ¥349
						span.search-singlegood-discount 7.0折
						span.search-singlegood-oldprice ¥499
					h4.search-singlegood-title NIKE 耐克TANJUN SE 网面泼墨底男鞋跑步鞋休闲鞋 844887
					div.search-singlegood-activity
						span.search-singlegood-actname 特卖
						span.search-singlegood-actcontent 今日特卖，限时购买省40元
					div.search-singlegood-monthsales
						span.search-singlegoodMonthsales-title 月成交
						span.search-singlegoodMonthsales-con 1051笔
						span.search-singlegoodMonthevalus-title 评价
						span.search-singlegoodMonthevalus-con 2593
				div.search-singlegood
					a(href='javascript:;').search-imgwrap
						img(src='./images/search/nike3.jpg' alt='').search-imgbig
						img(src='./images/search/nike3.jpg' alt='黑色').search-imgsmall
						img(src='./images/search/nike3blue.jpg' alt='蓝色').search-imgsmall
					div.search-singlegood-price
						span.search-singlegood-nowprice ¥449
						span.search-singlegood-discount 6.5折
						span.search-singlegood-oldprice ¥699
					h4.search-singlegood-title NIKE 耐克Air Zoom Pegasus 92男子气垫透气跑步鞋休闲鞋844654-003
					div.search-singlegood-activity
						span.search-singlegood-actname 直降
						span.search-singlegood-actcontent 立省150元
					div.search-singlegood-monthsales
						span.search-singlegoodMonthsales-title 月成交
						span.search-singlegoodMonthsales-con 1051笔
						span.search-singlegoodMonthevalus-title 评价
						span.search-singlegoodMonthevalus-con 2593
				div.search-singlegood
					a(href='javascript:;').search-imgwrap
						img(src='./images/search/nike4.jpg' alt='').search-imgbig
						img(src='./images/search/nike4.jpg' alt='黑色').search-imgsmall
					div.search-singlegood-price
						span.search-singlegood-nowprice ¥529
						span.search-singlegood-discount 6.9折
						span.search-singlegood-oldprice ¥799
					h4.search-singlegood-title  耐克Air Max 90 ULTRA GS女子彩虹配色气垫休闲鞋跑鞋844600-001
					div.search-singlegood-activity
						span.search-singlegood-actname 直降
						span.search-singlegood-actcontent 立省150元
					div.search-singlegood-monthsales
						span.search-singlegoodMonthsales-title 月成交
						span.search-singlegoodMonthsales-con 1051笔
						span.search-singlegoodMonthevalus-title 评价
						span.search-singlegoodMonthevalus-con 2593
				div.search-singlegood
					a(href='javascript:;').search-imgwrap
						img(src='./images/search/adidas1.jpg' alt='').search-imgbig
						img(src='./images/search/adidas1.jpg' alt='黑色').search-imgsmall
					div.search-singlegood-price
						span.search-singlegood-nowprice ¥529
						span.search-singlegood-discount 6.1折
						span.search-singlegood-oldprice ¥829
					h4.search-singlegood-title  阿迪达斯 男子16秋季阿尔法小椰子运动跑步鞋 B42746
					div.search-singlegood-activity
						span.search-singlegood-actname 直降
						span.search-singlegood-actcontent 立省150元
					div.search-singlegood-monthsales
						span.search-singlegoodMonthsales-title 月成交
						span.search-singlegoodMonthsales-con 1051笔
						span.search-singlegoodMonthevalus-title 评价
						span.search-singlegoodMonthevalus-con 2593
				div.search-singlegood
					a(href='javascript:;').search-imgwrap
						img(src='./images/search/adidas2.jpg' alt='').search-imgbig
						img(src='./images/search/adidas2.jpg' alt='黑色').search-imgsmall
					div.search-singlegood-price
						span.search-singlegood-nowprice ¥279
						span.search-singlegood-discount 5.6折
						span.search-singlegood-oldprice ¥499
					h4.search-singlegood-title  Adidas 阿迪达斯 2016新品防滑耐磨运动鞋轻便透气跑步鞋 AF6690
					div.search-singlegood-activity
						span.search-singlegood-actname 直降
						span.search-singlegood-actcontent 立省150元
					div.search-singlegood-monthsales
						span.search-singlegoodMonthsales-title 月成交
						span.search-singlegoodMonthsales-con 1051笔
						span.search-singlegoodMonthevalus-title 评价
						span.search-singlegoodMonthevalus-con 2593
				div.search-singlegood
					a(href='javascript:;').search-imgwrap
						img(src='./images/search/newbalance1.jpg' alt='').search-imgbig
						img(src='./images/search/newbalance1.jpg' alt='黑色').search-imgsmall
					div.search-singlegood-price
						span.search-singlegood-nowprice ¥329
						span.search-singlegood-discount 5.4折
						span.search-singlegood-oldprice ¥619
					h4.search-singlegood-title【欧码】new balance 996 女士运动鞋 浅灰色
					div.search-singlegood-activity
						span.search-singlegood-actname 直降
						span.search-singlegood-actcontent 立省150元
					div.search-singlegood-monthsales
						span.search-singlegoodMonthsales-title 月成交
						span.search-singlegoodMonthsales-con 1051笔
						span.search-singlegoodMonthevalus-title 评价
						span.search-singlegoodMonthevalus-con 2593
				div.search-singlegood
					a(href='javascript:;').search-imgwrap
						img(src='./images/search/newbalance2.jpg' alt='').search-imgbig
						img(src='./images/search/newbalance2.jpg' alt='黑色').search-imgsmall
						img(src='./images/search/newbalance2gray.jpg' alt='黑色').search-imgsmall
						img(src='./images/search/newbalance2red.jpg' alt='黑色').search-imgsmall
						img(src='./images/search/newbalance2red2.jpg' alt='黑色').search-imgsmall
					div.search-singlegood-price
						span.search-singlegood-nowprice ¥299
						span.search-singlegood-discount 4.9折
						span.search-singlegood-oldprice ¥619
					h4.search-singlegood-title New Balance NB 996系列 翻毛女鞋 复古运动慢跑鞋
					div.search-singlegood-activity
						span.search-singlegood-actname 直降
						span.search-singlegood-actcontent 立省150元
					div.search-singlegood-monthsales
						span.search-singlegoodMonthsales-title 月成交
						span.search-singlegoodMonthsales-con 1051笔
						span.search-singlegoodMonthevalus-title 评价
						span.search-singlegoodMonthevalus-con 2593
				div.search-singlegood
					a(href='javascript:;').search-imgwrap
						img(src='./images/search/skechers1.jpg' alt='').search-imgbig
						img(src='./images/search/skechers1.jpg' alt='黑色').search-imgsmall
					div.search-singlegood-price
						span.search-singlegood-nowprice ¥439
						span.search-singlegood-discount 7.4折
						span.search-singlegood-oldprice ¥699
					h4.search-singlegood-title Skechers斯凯奇 2016年复古男女鞋 厚底百搭休闲鞋 66666042
					div.search-singlegood-activity
						span.search-singlegood-actname 直降
						span.search-singlegood-actcontent 立省150元
					div.search-singlegood-monthsales
						span.search-singlegoodMonthsales-title 月成交
						span.search-singlegoodMonthsales-con 1051笔
						span.search-singlegoodMonthevalus-title 评价
						span.search-singlegoodMonthevalus-con 2593
				div.search-singlegood
					a(href='javascript:;').search-imgwrap
						img(src='./images/search/asics1.jpg' alt='').search-imgbig
						img(src='./images/search/asics1.jpg' alt='黑色').search-imgsmall
					div.search-singlegood-price
						span.search-singlegood-nowprice ¥439
						span.search-singlegood-discount 7.4折
						span.search-singlegood-oldprice ¥699
					h4.search-singlegood-title asics 亚瑟士 男士复古跑鞋 橘橙色
					div.search-singlegood-activity
						span.search-singlegood-actname 直降
						span.search-singlegood-actcontent 立省150元
					div.search-singlegood-monthsales
						span.search-singlegoodMonthsales-title 月成交
						span.search-singlegoodMonthsales-con 1051笔
						span.search-singlegoodMonthevalus-title 评价
						span.search-singlegoodMonthevalus-con 2593
				div.search-singlegood
					a(href='javascript:;').search-imgwrap
						img(src='./images/search/asics2.jpg' alt='').search-imgbig
						img(src='./images/search/asics2.jpg' alt='黑色').search-imgsmall
					div.search-singlegood-price
						span.search-singlegood-nowprice ¥439
						span.search-singlegood-discount 7.4折
						span.search-singlegood-oldprice ¥699
					h4.search-singlegood-title asics 亚瑟士 GEL­KAYANO 22男士运动跑鞋 灰/银/黄绿色
					div.search-singlegood-activity
						span.search-singlegood-actname 直降
						span.search-singlegood-actcontent 立省150元
					div.search-singlegood-monthsales
						span.search-singlegoodMonthsales-title 月成交
						span.search-singlegoodMonthsales-con 1051笔
						span.search-singlegoodMonthevalus-title 评价
						span.search-singlegoodMonthevalus-con 2593
			div.search-rate-pages
				ul
					li
						a(href='javascript:;') <<&nbsp上一页
					li
						a(href='javascript:;').search-rate-nowpage 1
					li
						a(href='javascript:;') 2
					li
						a(href='javascript:;') 3
					li.search-rate-omit ...
					li
						a(href='javascript:;') 下一页&nbsp>>
			div.search-guesslike
				h4 猜你喜欢
					span 根据你的浏览记录推荐的商品
				div.search-guesslike-con
					div.search-guesslike-single
						a(href='javascript:;')
							img(src="./images/search/guesslike/22765bed-61af-4911-ade7-ab568b81c5b1.jpg")
							h4.search-guesslike-title 耐克NIKE ROSHE ONE 小黑鞋奥利奥轻便休闲鞋运动鞋
						span.search-guesslike-activity 满99元减20元，满199元减45元
						span.search-guesslike-price
							span ￥399
							span ￥499
						span.search-guesslike-hasEvaluate 51人已评价
				div.search-guesslike-con
					div.search-guesslike-single
						a(href='javascript:;')
							img(src="./images/search/guesslike/22765bed-61af-4911-ade7-ab568b81c5b1.jpg")
							h4.search-guesslike-title 耐克NIKE ROSHE ONE 小黑鞋奥利奥轻便休闲鞋运动鞋
						span.search-guesslike-activity 满99元减20元，满199元减45元
						span.search-guesslike-price
							span ￥399
							span ￥499
						span.search-guesslike-hasEvaluate 51人已评价
				div.search-guesslike-con
					div.search-guesslike-single
						a(href='javascript:;')
							img(src="./images/search/guesslike/22765bed-61af-4911-ade7-ab568b81c5b1.jpg")
							h4.search-guesslike-title 耐克NIKE ROSHE ONE 小黑鞋奥利奥轻便休闲鞋运动鞋
						span.search-guesslike-activity 满99元减20元，满199元减45元
						span.search-guesslike-price
							span ￥399
							span ￥499
						span.search-guesslike-hasEvaluate 51人已评价
				div.search-guesslike-con
					div.search-guesslike-single
						a(href='javascript:;')
							img(src="./images/search/guesslike/22765bed-61af-4911-ade7-ab568b81c5b1.jpg")
							h4.search-guesslike-title 耐克NIKE ROSHE ONE 小黑鞋奥利奥轻便休闲鞋运动鞋
						span.search-guesslike-activity 满99元减20元，满199元减45元
						span.search-guesslike-price
							span ￥399
							span ￥499
						span.search-guesslike-hasEvaluate 51人已评价
				div.search-guesslike-con
					div.search-guesslike-single
						a(href='javascript:;')
							img(src="./images/search/guesslike/22765bed-61af-4911-ade7-ab568b81c5b1.jpg")
							h4.search-guesslike-title 耐克NIKE ROSHE ONE 小黑鞋奥利奥轻便休闲鞋运动鞋
						span.search-guesslike-activity 满99元减20元，满199元减45元
						span.search-guesslike-price
							span ￥399
							span ￥499
						span.search-guesslike-hasEvaluate 51人已评价
			div.search-guesslike
				h4 大家都在买
					span 全网最热门的商品推荐
				div.search-guesslike-con
					div.search-guesslike-single
						a(href='javascript:;')
							img(src="./images/search/guesslike/c2af4e24-837a-4f34-82a2-cde7506b35e2.jpg")
							h4.search-guesslike-title Adidas 阿迪达斯 Stan Smith 男女休闲运动绿尾板鞋
						span.search-guesslike-activity 满99元减20元，满199元减45元
						span.search-guesslike-price
							span ￥499
							span ￥999
						span.search-guesslike-hasEvaluate 215人已评价
				div.search-guesslike-con
					div.search-guesslike-single
						a(href='javascript:;')
							img(src="./images/search/guesslike/c2af4e24-837a-4f34-82a2-cde7506b35e2.jpg")
							h4.search-guesslike-title Adidas 阿迪达斯 Stan Smith 男女休闲运动绿尾板鞋
						span.search-guesslike-activity 满99元减20元，满199元减45元
						span.search-guesslike-price
							span ￥499
							span ￥999
						span.search-guesslike-hasEvaluate 215人已评价
				div.search-guesslike-con
					div.search-guesslike-single
						a(href='javascript:;')
							img(src="./images/search/guesslike/c2af4e24-837a-4f34-82a2-cde7506b35e2.jpg")
							h4.search-guesslike-title Adidas 阿迪达斯 Stan Smith 男女休闲运动绿尾板鞋
						span.search-guesslike-activity 满99元减20元，满199元减45元
						span.search-guesslike-price
							span ￥499
							span ￥999
						span.search-guesslike-hasEvaluate 215人已评价
				div.search-guesslike-con
					div.search-guesslike-single
						a(href='javascript:;')
							img(src="./images/search/guesslike/c2af4e24-837a-4f34-82a2-cde7506b35e2.jpg")
							h4.search-guesslike-title Adidas 阿迪达斯 Stan Smith 男女休闲运动绿尾板鞋
						span.search-guesslike-activity 满99元减20元，满199元减45元
						span.search-guesslike-price
							span ￥499
							span ￥999
						span.search-guesslike-hasEvaluate 215人已评价
				div.search-guesslike-con
					div.search-guesslike-single
						a(href='javascript:;')
							img(src="./images/search/guesslike/c2af4e24-837a-4f34-82a2-cde7506b35e2.jpg")
							h4.search-guesslike-title Adidas 阿迪达斯 Stan Smith 男女休闲运动绿尾板鞋
						span.search-guesslike-activity 满99元减20元，满199元减45元
						span.search-guesslike-price
							span ￥499
							span ￥999
						span.search-guesslike-hasEvaluate 215人已评价
			div.search-guesslike
				h4 最近浏览
					span 你最近一段时间浏览的商品
				div.search-guesslike-con
					div.search-guesslike-single
						a(href='javascript:;')
							img(src="./images/search/guesslike/22765bed-61af-4911-ade7-ab568b81c5b1.jpg")
							h4.search-guesslike-title 耐克NIKE ROSHE ONE 小黑鞋奥利奥轻便休闲鞋运动鞋
						span.search-guesslike-activity 满99元减20元，满199元减45元
						span.search-guesslike-price
							span ￥399
							span ￥499
						span.search-guesslike-hasEvaluate 51人已评价
				div.search-guesslike-con
					div.search-guesslike-single
						a(href='javascript:;')
							img(src="./images/detail/xiaomi5s/lookRepeatedly1.jpeg")
							h4.search-guesslike-title NORTHJO 诺左 超薄TPU保护壳 手机壳 iphone7/7Plus
						span.search-guesslike-activity 满99元减20元，满199元减45元
						span.search-guesslike-price
							span ￥36
							span ￥68
						span.search-guesslike-hasEvaluate 51人已评价
				div.search-guesslike-con
					div.search-guesslike-single
						a(href='javascript:;')
							img(src="./images/detail/xiaomi5s/lookRepeatedly1.jpeg")
							h4.search-guesslike-title NORTHJO 诺左 超薄TPU保护壳 手机壳 iphone7/7Plus
						span.search-guesslike-activity 满99元减20元，满199元减45元
						span.search-guesslike-price
							span ￥36
							span ￥68
						span.search-guesslike-hasEvaluate 51人已评价
				div.search-guesslike-con
					div.search-guesslike-single
						a(href='javascript:;')
							img(src="./images/detail/xiaomi5s/lookRepeatedly1.jpeg")
							h4.search-guesslike-title NORTHJO 诺左 超薄TPU保护壳 手机壳 iphone7/7Plus
						span.search-guesslike-activity 满99元减20元，满199元减45元
						span.search-guesslike-price
							span ￥36
							span ￥68
						span.search-guesslike-hasEvaluate 51人已评价
				div.search-guesslike-con
					div.search-guesslike-single
						a(href='javascript:;')
							img(src="./images/detail/xiaomi5s/lookRepeatedly1.jpeg")
							h4.search-guesslike-title NORTHJO 诺左 超薄TPU保护壳 手机壳 iphone7/7Plus
						span.search-guesslike-activity 满99元减20元，满199元减45元
						span.search-guesslike-price
							span ￥36
							span ￥68
						span.search-guesslike-hasEvaluate 51人已评价
				
		include ../includes/footer.jade
	script(src='./bower_components/jquery/dist/jquery.min.js')
	script(src='./bower_components/bootstrap/dist/js/bootstrap.min.js')
	script(src='./script/common.js' type='text/javascript')
	script(src='./script/search.js' type='text/javascript')
